<script type="application/ld+json" data-nkda-type="{{ .Page.Type }}">
  {
    "@context": "https://schema.org",
    "@type": "Course",
    "name": "{{ .Title }}",
    "description": "{{ .Params.card.content | plainify }}",
    "provider": {
      "@type": "Organization",
      "name": "Naked Agility with Martin Hinshelwood",
      "url": "{{ .Site.BaseURL }}"
    },
    {{ template "course-offers" . }}
    {{ template "course-syllabus" . }}
    {{ template "course-hasCourseInstance" . }}
    "courseMode": "Online",
    "courseCode": "{{ .Params.code }}",
    "sku": "NKDA-{{ .Params.code }}",
    "educationalCredentialAwarded": "Professional Scrum Product Owner I (PSPO I) Certification",
    "coursePrerequisites": "{{ .Params.prerequisites | plainify }}"
  }
  </script>
<!-- --->

{{ define "course-hasCourseInstance" }}
  "hasCourseInstance": [
  {{- $learningExperiences := (index .Params "course-learning-experiences") -}}
  {{- $length := len $learningExperiences -}}
  {{- range $index, $experience := $learningExperiences }}
    { "@type": "CourseInstance", "courseMode": "Online", "location": "Example University", "courseSchedule": { "@type": "Schedule",
    {{- if eq $experience "Traditional" -}}
      "duration": "PT2H", "repeatCount": 8, "repeatFrequency": "Daily"
    {{- else if eq $experience "Immersive" -}}
      "duration": "PT6H", "repeatCount": 8, "repeatFrequency": "Weekly"
    {{- else -}}
      "duration": "PT2H", "repeatCount": 8, "repeatFrequency": "Daily"
    {{- end }}
    }, "instructor": [{ "@type": "Person", "name": "Martin Hinshelwood", "description": "Professional Scrum Trainer, Professional Kanban Trainer, Microsoft MVP: GitHub & DevOps", "image": "http://examplePerson.jpg" }]
    }{{ if lt (add $index 1) $length }},{{ end }}
  {{- end }}
  ],
{{ end }}

{{ define "course-offers" }}
  "offers": [
  {{- $zones := (index .Site.Data "pricing-zone") }}
  {{- range $index, $zone := $zones }}
    {{- if and $zone.enabled (gt (len $zone.countries) 0) }}
      {{- if $index }},{{ end }}
      { "@type": "Offer", "category": "Paid", "url": "{{ .RelPermalink }}", "priceCurrency": "{{ $zone.currency }}", "price": "1000", "availability": "https://schema.org/InStock", "eligibleRegion":
      [{{- range $i, $country := $zone.countries }}{{- if $i }},{{- end }}{ "@type": "Place", "name": "{{ $country }}" }{{- end }}] }
    {{- end }}
  {{- end }}
  ],
{{ end }}

{{ define "course-syllabus" }}
  {{ if .Params.syllabus }}
    "syllabusSections": [
    {{- $length := len .Params.syllabus -}}
    {{- range $index, $section := .Params.syllabus }}
      { "@type": "Syllabus", "name": "{{- $section.title }}", "description": "{{- $section.content | plainify }}", "timeRequired": "{{- partial "jsonld/duration-to-iso.html" $section.duration }}"
      }{{ if lt (add $index 1) $length }},{{ end }}
    {{- end }}
    ],
  {{ end }}
{{ end }}
