<script type="application/ld+json" data-nkda-type="{{ .Page.Type }}"  data-nkda-resourceTypes="{{ index .Params.resourceTypes 0 }}">
    {
      "@context": "https://schema.org",
      "@type": {{- if .Params.resourceTypes }}{{- $type := index .Params.resourceTypes 0 }}{{- if eq $type "blog" }}"BlogPosting"{{- else if eq $type "newsletter" }}"NewsArticle"{{- else }}"Article"{{- end }}{{- else }}"Article"{{- end }},
      "headline": "{{ .Title | htmlEscape }}",
      "image": [
        {{- /* Include images from the page bundle */ -}}
        {{ range $index, $resource := .Resources.ByType "image" }}
          "{{ $resource.Permalink }}"{{ if lt (add $index 1) (len ($.Resources.ByType "image")) }},{{ end }}
        {{ end }}
      ],
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
      "author": [
        {{/* Creator */}}
        {
          "@type": "Person",
          "name": "{{- if .Params.creator }}{{ .Params.creator }}{{ else }}Martin Hinshelwood{{ end }}",
          "url": "{{ with site.GetPage "company/people" (anchorize (or .Params.creator "Martin Hinshelwood")) }}{{ .Permalink }}{{ else }}{{ "" }}{{ end }}"
        }
        {{/* Contributors */}}
        {{- range $index, $contributor := .Params.contributors }}{{ if $index }},{{ end }}
        {
          "@type": "Person",
          "name": "{{ $contributor.name }}",
          "url": "{{ with site.GetPage "company/people" (anchorize $contributor.name) }}{{ .Permalink }}{{ else }}{{ $contributor.external | safeURL }}{{ end }}"
        }
        {{- end }}
      ]
    }
</script>
