<header>
  <!-- Topbar Navigation -->
  <div class="container-fluid bg-brand-primary">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNav" aria-controls="topbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topbarNav">
          <div class="d-lg-flex w-100 justify-content-between flex-column flex-lg-row">
            <!-- Left side of the navbar -->
            <div class="d-flex flex-column flex-lg-row">
              <a class="navbar-brand navbar-brand-topbaritem" href="tel:+441413439621">+44 141 343 9621</a>
              <a class="navbar-brand navbar-brand-topbaritem d-inline-flex align-items-center" href="https://wa.me/message/HUH4LD467QPTB1"><i class="fa-brands fa-whatsapp"></i><span class="d-none d-md-block">&nbsp;WhatsApp</span></a>
              <a class="navbar-brand navbar-brand-topbaritem" href="mailto:contact@nkdagility.com">contact@nkdagility.com</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="#">Glasgow, Scotland</a>
            </div>

            <!-- Right side of the navbar -->
            <div class="d-flex flex-column flex-lg-row text-uppercase">
              <a
                class="navbar-brand navbar-brand-topbaritem"
                href="javascript:void(0);"
                title="Login with Github"
                id="signInButton"
                onclick="window.location.href = '/.auth/login/github?post_login_redirect_uri=' + encodeURIComponent(window.location.href);">
                Login
              </a>
              <a class="navbar-brand navbar-brand-topbaritem d-none" href="/.auth/signout" id="signOutButton">Login</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="/capabilities/mentor-programs/">Mentor Programs</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="/capabilities/training-courses/" title="Corporate Training Programs & Workshops">Training Programs</a>
              {{/* <a class="navbar-brand navbar-brand-topbaritem" href="/capabilities/training-courses/">Course Schedule</a> */}}
              <a class="navbar-brand navbar-brand-topbaritem" href="/resources/blog/">Blog</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="/company/general-inquiries/">Contact</a>
              <a class="navbar-brand navbar-brand-topbaritem d-inline-flex align-items-center" href="http://nakedagility.tv/"><i class="fa-brands fa-youtube"></i><span class="d-none d-md-block">&nbsp;Youtube</span></a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  {{- partial "main-menu.html" . }}
  {{- partial "main-menu2.html" . }}
</header>
