<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{{ if eq .Kind "404" }}
  <meta name="robots" content="noindex, nofollow" />
{{ end }}

{{- partial "infrastructure/seo.html" . }}

{{ if .Params.videoId }}
  <meta name="giscus:backlink" content="https://nkdagility.com/resources/videos/{{- .Params.videoId }}" />
{{ else }}
  <meta name="giscus:backlink" content="https://nkdagility.com{{- .RelPermalink }}" />
{{ end }}
<meta name="giscus:description" content="{{- .Summary | plainify }}" />

<link rel="icon" href="{{- "favicon.ico" | relURL }}" type="image/x-icon" /> <meta name="copyright" content="{{- printf "© 2013-%s Naked Agility Limited. All rights reserved." (now.Format "2006") }}" />
<meta
  name="license"
  content="© {{- now.Format "2006" }}
naked Agility Limited. All content is copyrighted. No reproduction or distribution without permission." />

<!-- app.termly.io must be first -->
<script type="text/javascript" src="https://app.termly.io/resource-blocker/8bfd9df8-10f3-48d6-8543-802e916c4a5c?autoBlock=on"></script>

<!--Boostrap -->
<link async href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />

<!--Font Awesome -->
<script async data-search-pseudo-elements src="https://kit.fontawesome.com/3e6b2f4808.js" crossorigin="Access-Control-Allow-Origin"></script>

<!-- Main css-->
<link async rel="stylesheet" href="{{- "css/main.css" | relURL }}" />
<!-- navbar -->
<link async rel="stylesheet" href="{{- "css/main-menu.css" | relURL }}" />
<!-- cards -->
<link async rel="stylesheet" href="{{- "css/cards.css" | relURL }}" />
<!-- sections -->
<link async rel="stylesheet" href="{{- "css/sections.css" | relURL }}" />

<!-- shopifycdn -->
{{/* <script src="https://sdks.shopifycdn.com/js-buy-sdk/v2/latest/index.umd.min.js"></script>
  <script src="https://cdn.shopify.com/s/assets/external/buy-button.js"></script>
*/}}
{{/* <link rel="stylesheet" href="{{- "js/shopify/shopify.js" | relURL }}" /> */}}
<!-- /shopifycdn -->
<link rel="icon" href="/images/nkdAgility-logo-32x32.jpg" sizes="32x32" />
<link rel="icon" href="/images/nkdAgility-logo-192x192.jpg" sizes="192x192" />
<link rel="apple-touch-icon" href="/images/nkdAgility-logo-180x180.jpg" />
<!-- Swiper no swiping -->
<link async rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script async src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- TrustBox script -->
<script async type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- algolia.com -->
{{/* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" /> */}}
