{{- $.Scratch.Add "routesFor404" slice -}}
{{- range $p := sort site.AllPages "Path" }}
  {{- $aliasesArchive := $p.Params.aliasesArchive -}}
  {{ if $aliasesArchive }}
    {{- range $alias := sort $p.Params.aliasesArchive }}
      {{- if not (strings.HasSuffix $alias "/") }}
        {{- $alias = printf "%s/" $alias }}
      {{- end }}
      {{- $.Scratch.Add "routesFor404" (dict
        "route" $alias
        "redirect" $p.RelPermalink
        "statusCode" 301
        "resourceId" (default "" $p.Params.ResourceId)
        "resourceType" (default "" $p.Params.resourceType)
        )
      -}}
    {{- end }}
  {{- end }}
{{- end }}
{{- $routes := dict "routesFor404" ($.Scratch.Get "routesFor404") }}
{{- $jsonOutput := $routes | jsonify }}
{{- (resources.FromString "static.routes.json" $jsonOutput).Publish }}
