<!-- layouts/partials/card.html -->
<div class="card flex-fill m-3 shadow text-start flex-fill small border-0">
  <div class="card-body p-4 px-20">
    <h3 class="ttl-nkdagility h5 text-start" title="{{ .Title }}">{{ .Params.card.title }}</h3>
    <p class="text-muted">{{ .Params.card.content }}</p>
  </div>
  <div class="card-footer border-transparent bg-white p-3 text-end border-0">
    <a href="{{ .Permalink }}" class="btn btn-nkdagility p-2" title="More information on {{ .Title }}">{{ .Params.card.button.content }} <i class="fa-solid fa-arrow-right"></i></a>
  </div>
</div>
<style>
  .ttl-nkdagility {
    color: var(--primary-color);
    font-size: 1.4em;
    font-weight: bold;
  }

  .btn-nkdagility {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
  }

  .btn-nkdagility:hover {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
  }
</style>
