<section class="container my-5 p-5">
  <div class="card border-0 shadow my-3">
    <div class="row g-0">
      <!-- Content Section -->
      <div class="col-md-12 text-center">
        <div class="card-body p-4 card-left-border">
          <h2 class="card-title nkda-heading-primary"> Connect with Martin Hinshelwood </h2>
          <p class="card-text"> If you've made it this far, it's worth connecting with our principal consultant and coach, Martin Hinshelwood, for a 30-minute 'ask me anything' call. </p>
          <a href="/company/book-online/" class="btn btn-primary"> Schedule a Teams call </a>
        </div>
      </div>
    </div>
  </div>
</section>
