<section class="container my-5">
  <div class="row p-5">
    <div class="col-md-6">
      <h1 class="mb-4 nkda-heading-primary">{{ .Params.headline.title | markdownify }}</h1>
    </div>
    <div class="col-md-6">
      <p class="nkda-heading-primary-content">{{ .Params.headline.content | markdownify }}</p>
    </div>
  </div>
  <div class="row">
    {{ range .Params.headline.cards }}
    <div class="col-12 col-sm-6 col-lg-4 d-flex d-flex">
      <!-- prettier-ignore -->
      {{ partial "card.html" (dict "class" "herocards" "title" .title "content" .content) }}
    </div>
    {{ end }}
  </div>
</section>
