<div class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">
        <img src="/images/nkdagility-with-martin-hinshelwood-light-300px.png" data-nkda-image="backup" loading="lazy" alt="naked Agility with Martin Hinshelwood Logo" width="234" height="95" class="img-responsive" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto">
          <!-- Outcomes -->
          {{- partial "main-menu-section.html" (dict "context" . "SectionName" "outcomes") }}
          <!-- Capabilities -->
          {{- partial "main-menu-section.html" (dict "context" . "SectionName" "capabilities") }}
          <!-- Company -->
          {{- partial "main-menu-company.html" . }}
          <!-- Resources -->
          {{- partial "main-menu-resources.html" . }}
        </ul>
      </div>
    </nav>
  </div>
</div>
<script>
  const hamburger = document.querySelector(".hamburger-toggle");
  const navbar = document.querySelector(".navbar-collapse");
  hamburger.addEventListener("click", () => {
    navbar.classList.toggle("show");
  });
</script>
