<!-- -->
{{ $section := .Site.GetPage "section" "company/customers" }}<!-- -->
<div class="container p-5 text-center">
  <h4>Trusted by companies like</h3>
  <div class="row">
    {{ range first 18  ( shuffle $section.Pages) }}
    <div class="col-6 col-sm-4 col-lg-2 d-flex d-flex">
      <div class="card flex-fill m-1 justify-content-center align-items-center" title="">
        <div class="card-body justify-content-center align-items-center">
          {{ if .Params.coverImage }} {{ $image := .Resources.GetMatch (printf "images/%s" .Params.coverImage) }} {{ if $image }}
          {{ $resized := $image.Fit "150x50 webp" }}
          <img src="{{ $resized.RelPermalink }}" class="img-fluid" />
          {{ else }} ??? {{ end }} {{ else }}
          <p class="fs-6 align-items-center">{{.Title}}</p>
          {{ end}}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>
