<div class="card flex-fill m-2 shadow text-center flex-fill small">
  {{- $resourceType := .CurrentSection.Params.resourceType }}
  {{- if .Params.preview }}
    {{- $isExternal := strings.HasPrefix .Params.preview "http" }}
    {{- if $isExternal }}
      <img class="img-fluid" loading="lazy" src="{{- .Params.preview }}" alt="{{- .Title }}" />
    {{- else }}
      {{- $image := .Resources.GetMatch (printf "images/%s" .Params.preview) }}
      {{- if $image }}
        <img class="img-fluid" loading="lazy" src="{{- $image.RelPermalink }}" alt="{{- .Title }}" />
      {{- else }}
        <img class="courseImageBackground img-fluid" loading="lazy" src="/images/NKDAgility-technically-Background.jpg" alt="{{- .Params.Title }}" />
      {{- end }}
    {{- end }}
  {{- else }}
    <img class="courseImageBackground img-fluid" loading="lazy" src="/images/NKDAgility-technically-Background.jpg" alt="{{- .Params.Title }}" />
  {{- end }}
  <div class="card-body p-2 px-20 clearfix row">
    <div class="col-9 col-md-12">
      <h2 class="card-title h5">{{- .Title }}</h2>
      <p class="text-muted p-1">{{- .Summary | plainify }}</p>
    </div>
  </div>
  <div class="card-footer border-transparent bg-white p-1 text-start">
    <a href="{{- .Permalink }}" class="btn btn-primary btn-sm" title="More information on {{- .Title }}">Read <i class="fa-solid fa-arrow-right"></i></a>
    {{ if .Draft }}
      <span class="badge text-bg-warning">Draft</span>
    {{ end }}
    {{ if gt .Date (now) }}
      <span class="badge text-bg-danger" title="Scheduled for {{- .Date.Format "2 January 2006" }}">Scheduled</span>
    {{ end }}
    {{- if gt .ExpiryDate (now) }}
      <span class="badge text-bg-danger" title="Expires on {{- .ExpiryDate.Format "2 January 2006" }}">Expires</span>
    {{- end }}
  </div>
</div>
