<div class="card flex-fill m-2 shadow text-center flex-fill small">
  {{ if .Params.coverImage }}
    {{ $image := .Resources.GetMatch (printf "images/%s" .Params.coverImage) }}
    <img class="img-fluid" src="{{ $image.RelPermalink }}" alt="{{ .Title }}" />
  {{ else }}
    {{ $image := .Resources.Get "images/NKDAgility-Courses-Template-16x9-1-jpg.webp" }}
    <img class="courseImageBackground img-fluid" src="/images/NKDAgility-technically-Background.jpg" alt="{{ .Params.Title }}" />
  {{ end }}
  <div class="card-body p-2 px-20 clearfix row">
    <div class="col-9 col-md-12">
      <h2 class="card-title h5">{{ .Title }}</h2>
      <p class="text-muted p-1">{{ .Summary }}</p>
    </div>
  </div>
  <div class="card-footer border-transparent bg-white p-1 text-start">
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm" title="More information on {{ .Title }}">More Info <i class="fa-solid fa-arrow-right"></i></a>
    <a href="/training-courses/course-schedule/" class="btn btn-outline-primary btn-sm" title="Search for public {{ .Title }} classes">Search</a>
    <a href="{{ .Permalink }}" class="btn btn-outline-primary btn-sm" title="Check out corporate bookings for {{ .Title }}">Private</a>
  </div>
</div>
