{{ $site := .Site }} {{ range $index, $section := .Params.sections }}
<!-- Title and Content (always shown) -->
<section class="container my-5">
  <div class="section">
    <h2>{{ $section.title }}</h2>
    <p>{{ $section.content }}</p>
    <!-- Conditional rendering based on section type -->
    {{ if eq $section.type "features" }}
    <!-- Render features -->
    {{ partial "sections-features.html" . }} {{ else if eq $section.type "courses" }}
    <!-- Courses specific rendering -->
    <div class="courses-list">
      <!-- Render courses logic here -->
      <p>Here is a list of courses.</p>
    </div>

    {{ else if eq $section.type "videos" }}
    <!-- Videos specific rendering -->{{ partial "sections-videos.html" (dict "site" $site "context" .) }} {{ else }}
    <!-- Default rendering for other types if needed -->
    <div class="default-section">
      <p>Other section type content.</p>
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>
