{{- $site := .site }}


<!-- Courses specific rendering -->
<div class="row">
  {{- if and (not (eq .context.related nil)) (gt (len .context.related) 0) }}
    {{- $relatedCourseList := slice }}
    {{- range $index, $courses := .context.related }}
      {{- $courseItem := $site.GetPage $courses }}
      {{- if $courseItem }}
        {{- $relatedCourseList = $relatedCourseList | append $courseItem }}
      {{- end }}
    {{- end }}
    {{ partial "components/programs/programs-list.html" (dict "context" . "programs" $relatedCourseList "includeMeta" true) }}
  {{- else }}
    <div class="row">
      <div class="col-12 p-2">No courses</div>
    </div>
  {{- end }}
</div>
