{{- $resources := .Resources }}
{{- $section := .context }}
{{- $page := .page }}
{{- $site := .site }}
<div class="row p-2 p-lg-5">
  <div class="col-md-6">
    <h1 class="mb-4 nkda-heading-primary">
      {{- if $section.headline }}
        {{- $section.headline.title | markdownify }}
      {{- else }}
        {{- $page.Title | markdownify }}
      {{- end }}
    </h1>
    <h2 class="mb-4 nkda-heading-secondary">
      {{- if $section.headline }}
        {{- $section.headline.subtitle | markdownify }}
      {{- else }}
        {{- $page.subtitle | markdownify }}
      {{- end }}
    </h2>

    {{- if $section.headline.images }}
      {{- $colClass := "col-sm-4" }}
      {{- $count := len $section.headline.images }}
      {{- if eq (mod $count 3) 0 }}
        {{- $colClass = "col-sm-4" }}
        <!-- 3 per row -->
      {{- else if eq (mod $count 2) 0 }}
        {{- $colClass = "col-sm-6" }}
        <!-- 2 per row -->
      {{- end }}
      <div class="mb-4">
        <div class="row">
          {{- range $section.headline.images }}
            <div class="col-12 {{ $colClass }} p-2 d-flex justify-content-center">
              {{- if strings.HasPrefix . "/images/" }}
                <img src="{{- . | safeURL }}" loading="lazy" class="img-fluid" style="max-height: 80px; object-fit: contain;" alt="Image" />
              {{- else }}
                {{- $image := $page.Resources.GetMatch . }}
                {{- if $image }}
                  {{- $resized := $image.Resize "200x80" }}
                  <img src="{{- $resized.RelPermalink | safeURL }}" class="img-fluid" loading="lazy" style="max-height: 80px; object-fit: contain;" alt="{{- $image.Title | default "Image" }}" />
                {{- else }}
                  failed to get image
                  {{- . }}
                {{- end }}
              {{- end }}
            </div>
          {{- end }}
        </div>
      </div>
    {{- end }}

    {{- if $section.headline.buttons }}
      <div class="mb-4">
        {{- range $section.headline.buttons }}
          {{- $isExternal := strings.HasPrefix .link "http" -}}
          {{- if $isExternal }}
            <a href="{{- .link | safeURL }}" class="external-link btn btn-nkdprimary p-2" target="_blank" rel="noopener noreferrer">
              {{- .content }}&nbsp;<small><i class="fa-regular fa-arrow-up-right-from-square" style="transform: scale(0.6)"></i> </small>
            </a>
          {{- else }}
            <a href="{{- .link | safeURL }}" class="btn btn-nkdprimary p-2">{{- .content }}</a>
          {{- end }}
        {{- end }}
      </div>
    {{- end }}
  </div>
  <div class="col-md-6">
    <p class="nkda-heading-primary-content">
      {{- if $section.headline }}
        {{- $section.headline.content | markdownify -}}
      {{- else }}
      {{- end }}
    </p>
  </div>
</div>
