{{- define "main" }}
  <section class="container my-5">
    <h2 title="Methods - How else do we do it?">How else do we do it?</h2>
    <p>
      {{- .Description }}Explore our comprehensive range of services and capabilities designed to empower organizations and teams. With our expert solutions, you can efficiently address and resolve immediate challenges, driving success across your
      operations.
    </p>
    {{- partial "cards-section.html" (dict "context" . "SectionName" "methods") }}
  </section>
{{- end }}
{{- define "template" }}
  methods/list.html
{{- end }}
