<!-- layouts/partials/card.html -->
{{- $context := .context }}
{{- $subTypes := .subTypes }}
{{- $pagesToDisplay := .context.Pages.ByWeight }}
{{- $count := len $pagesToDisplay }}
{{- if eq $count 0 }}
  {{- return }}
{{- end }}
<div class="m-1 card sectioncards shadow text-start flex-fill flex-grow-1 small border-0 h-100 position-relative">
  <div class="card-body p-4 px-20">
    <span class="badge text-bg-secondary"><i class="fa-regular fa-tag"></i> {{ title $context.Page.Type }}</span>
    <h3 class="ttl-nkdagility h5 text-start" title="{{- $context.Page.Title }}">
      {{- if $context.Page.Params.card }}
        {{- $context.Page.Params.card.title }}
      {{- else }}
        {{- $context.Page.Title }}
      {{- end }}
    </h3>
    <div class="card-text text-muted">
      {{- if $context.Page.Params.card }}
        {{- $context.Page.Params.card.content | markdownify }}
      {{- else }}
        {{- $context.Page.Description | markdownify }}
      {{- end }}
    </div>
  </div>
  <ul class="list-group list-group-flush">
    {{- range $item := first 5 $pagesToDisplay }}
      <li class="list-group-item d-flex align-items-center">
        {{- partial "components/resources/resource-icon.html" . }}
        <a href="{{- $item.Permalink }}" class="text-decoration-none  text-nowrap text-truncate" title="{{- $item.Title }} - {{- $item.Description }}">
          {{- if .Params.short_title }}
            {{- .Params.short_title }}
          {{- else }}
            {{- .Title }}
          {{- end }}
        </a>
      </li>
    {{- end }}
  </ul>
  {{- if $context.Page.RelPermalink }}
    <div class="card-footer border-transparent p-3 text-end border-0">
      <a href="{{- $context.Page.RelPermalink }}" class="btn btn-nkdagility p-2" title="More information on {{- $context.Page.Title }}">See all {{ $count }} <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  {{- end }}
</div>
