{{- define "headline" }}
  <section class="container-fluid resources-headline py-md-4">
    <section class="container">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Left Section -->
        <div class="left d-flex flex-grow-1">
          {{ $jsonFile := .Page.Resources.GetMatch "data.index.classifications.json" }}
          {{ $jsonData := $jsonFile | unmarshal }}
          <div class="d-flex">
            <div class="resourcetypes p-1">
              <a href="{{ .RelPermalink }}" class="btn btn-sm btn-nkdagility-primary" title="{{ .Data.Plural | title }}: {{ .Title }}">{{ .Data.Plural | title }}</a>
            </div>
            <div class="categories p-1">
              {{ with index .Params "classification-types" }}
                {{ range . }}
                  {{ $term := . }}
                  {{ $categoryData := index $jsonData $term }}
                  {{ if $categoryData }}
                    <a href="{{ printf "/resources/%s" ($term | urlize) | relURL }}" class="btn btn-sm btn-nkdagility-secondary me-2" title="{{ $categoryData.reasoning }}&#10;&#10;Confidence: {{ $categoryData.final_score }}%&#10;Level: {{ $categoryData.level }}"> {{ $term }} </a>
                  {{ else }}
                    <a href="{{ printf "/resources/%s" ($term | urlize) | relURL }}" class="btn btn-sm btn-nkdagility-secondary me-2">
                      {{ $term }}
                    </a>
                  {{ end }}
                {{ end }}
              {{ end }}
            </div>
          </div>
          <!-- Ensure this properly closes the flex container inside "left" -->
        </div>
        <!-- Right Section -->
        <div class="right">
          <h4>tech·nic·al·ly agile class·i·fic·at·ion</h4>
        </div>
      </div>
      <!-- End of Flex Container -->
      <div>
        <div class="row">
          <div class="col-12 col-xl-10 d-flex flex-column">
            <div class="flex-grow-1">
              <h1 class="mb-4 nkda-heading-primary">{{- .Title | markdownify }}</h1>
              {{- if .Params.subtitle }}
                <h2 class="mb-4 nkda-heading-secondary">{{- .Params.subtitle | markdownify }}</h2>
              {{ else }}
                <h2 class="mb-4 nkda-heading-secondary">{{- .Description | markdownify }}</h2>
              {{- end }}
            </div>
          </div>
          <div class="col-xl-2 d-none d-xl-flex justify-content-center align-items-center">
            <div class="position-relative">
              <img src="/images/technically-agile-classifications-logo.png" />
              <img src="/images/nkdagility-with-martin-hinshelwood-dark-300px.png" alt="Image" class="position-absolute top-0 end-0" style="width: 100px; height: auto;" />
            </div>
          </div>
          <div class="col-xl-12 d-none d-xl-flex justify-content-end align-items-center">
            {{ $url := "" }}
            {{ if eq .Type "resources" }}
              {{ $url = printf "https://nkdagility.com/resources/%s" .Params.ResourceId }}
            {{ else }}
              {{ $url = printf "https://nkdagility.com%s" .RelPermalink }}
            {{ end }}
            {{ $url }}
          </div>
        </div>
      </div>
    </section>
  </section>
  <section class="container-fluid resources-headline-sharebar">
    <section class="container" style="max-width: 900px !important">
      {{- partial "publications/share-bar.html" . }}
    </section>
  </section>
{{- end }}

{{- define "main" }}
  <section class="container my-5">
    <div class="p-2 my-4 two-column-text">
      {{- .Content }}
    </div>
  </section>
  {{- $taxonomyName := .Title }}
  {{- $taxonomyShortName := .Title }}
  {{- $pages := where .Pages.ByWeight "Draft" "!=" true }}

  {{- $pagesWithData := slice }}
  {{- range $page := $pages }}
    {{- with .Resources.GetMatch "data.index.classifications.json" }}
      {{- $data := . | transform.Unmarshal }}
      {{- $dataItem := index $data $taxonomyName }}
      {{- if $dataItem }}
        <!-- Ensure the taxonomy exists in the data -->
        {{- $pagesWithData = $pagesWithData | append (dict "page" $page "score" ($dataItem.final_score | default 0)) }}
      {{- else }}
        {{- $pagesWithData = $pagesWithData | append (dict "page" $page "score" 0) }}
      {{- end }}
    {{- else }}
      {{- $pagesWithData = $pagesWithData | append (dict "page" $page "score" .Weight) }}
      <!-- Default when no data file -->
    {{- end }}
  {{- end }}
  {{- $sortedPagesWithData := sort $pagesWithData "score" "desc" }}
  <section class="container my-2">
    <div class="container">
      <h2>Learn More about {{ .Title }}</h2>
      <div class="row">
        {{- range $sortedPagesWithData }}
          <div class="col-xl-4 p-2">
            {{- if or (eq .page.Type "tags") (eq .page.Type "categories") }}
              {{- partial "page-sections/sections-taxonomies-card.html" (dict "site" .Site "context" .page "subTypes" "resources") }}
            {{- else }}
              {{- $title := .page.Title }}
              {{- $description := .page.Description }}
              {{- $buttonContent := "Find out More" }}
              {{- if .page.Params.card }}
                {{- $title = .page.Params.card.title }}
                {{- $description = .page.Params.card.content }}
                {{- $buttonContent = .page.Params.card.button.content }}
              {{- end }}
              <!-- layouts/partials/card.html -->
              <div class="sectioncards p-2 flex-fill flex-grow-1 h-100">
                <div class="card sectioncards flex-fill flex-grow-1 m-3 shadow text-start small border-0 h-100 position-relative">
                  <div class="card-body p-4 px-20">
                    <span class="badge text-bg-secondary">{{- title .page.Params.ResourceType }}</span>
                    <h3 class="ttl-nkdagility h5 text-start" title="{{ $title }}">{{- $title }}</h3>
                    <div class="card-text text-muted">
                      {{- $description | markdownify }}
                    </div>
                  </div>
                  <div class="card-footer border-transparent bg-white p-3 border-0 d-flex justify-content-between align-items-center">
                    <small class="text-body-secondary" title="Affinity to {{ $taxonomyName }} is {{ .score }}%"> <strong class="d-inline-block text-truncate" style="max-width: 150px; vertical-align: middle;"> {{ $taxonomyName }} </strong>: {{ .score }}% </small>
                    <a href="{{ .page.Permalink }}" class="btn btn-nkdagility p-2" title="More information on {{ .title }}"> {{- $buttonContent }} <i class="fa-solid fa-arrow-right"></i> </a>
                  </div>
                </div>
              </div>
            {{- end }}
          </div>
        {{- end }}
      </div>
    </div>
  </section>
{{- end }}

{{- define "siteSectionCallback" }}
  <section class="container my-5">
    <div class="m-1 small">
      <h2>Categories</h2>
      <div class="row">
        {{ range $category, $pages := .Site.Taxonomies.categories }}
          <div class="col-md-3 d-flex align-items-center">
            <span class="text-truncate d-inline-block" style="max-width: 100%;" title="{{ .Page.Title }}">
              <a href="{{ .Page.Permalink }}" title="{{ .Page.Title }} - {{ .Page.Description }}">{{ .Page.Title }}</a>
            </span>
            {{- $count :=  len (where $pages "Draft" "!=" true) }}
            <span class="ms-1">({{ $count }})</span>
          </div>
        {{ end }}
      </div>
      <hr />
    </div>
    <div class="m-1 small">
      <h2>Tags</h2>
      <div class="row">
        {{ range $category, $pages := .Site.Taxonomies.tags }}
          <div class="col-md-3 d-flex align-items-center">
            <span class="text-truncate d-inline-block" style="max-width: 100%;" title="{{ .Page.Title }}">
              <a href="{{ .Page.Permalink }}" title="{{ .Page.Title }} - {{ .Page.Description }}">{{ .Page.Title }}</a>
            </span>
            {{- $count :=  len (where $pages "Draft" "!=" true) }}
            <span class="ms-1">({{ $count }})</span>
          </div>
        {{ end }}
      </div>
      <hr />
    </div>
  </section>
{{- end }}

{{- define "template" }}
  {{ .Data.Plural | title }}/list.html
{{- end }}
