{{- define "headline" }}
  <section class="container-fluid resources-headline py-md-4">
    <section class="container my-2 container-heading">
      {{- partial "components/pages/header.html" . }}
    </section>
  </section>
{{- end }}

{{- define "main" }}
  <section class="container-fluid resources-headline-sharebar">
    <section class="container container-heading">{{- partial "components/resources/filter-bar.html" . }}</section>
  </section>
  <section class="container my-2">
    {{ $resources := where .Site.RegularPages "Type" "resources" }}
    {{ $resources = where $resources "Params.ResourceType" "ne" "signals" }}
    {{/* {{- partial "components/resources/resource-list-paged.html" (dict "context" . "resources" $resources.ByWeight) }} */}}
  </section>
{{- end }}
{{- define "template" }}
  resources/affinity.html
{{- end }}
