{{ define "headline" }}
  <section class="container my-2" style="max-width: 700px !important">
    <div class="row p-2">
      <div class="col-12">
        <span>
          Posted on <a href="{{ .Permalink }}" rel="bookmark"><time class="entry-date published updated" datetime="{{ .Date }}">{{ .Date.Format "2 January 2006" }}</time></a> by
          {{ .Params.author }}
        </span>
        <h1 class="mb-4 nkda-heading-primary">{{ .Title | markdownify }}</h1>
        <div class="text-muted">
          Published <a href="{{ .Permalink }}" rel="bookmark"><time class="entry-date published updated" datetime="{{ .Date }}">{{ .Date.Format "2 January 2006" }}</time></a>
        </div>
        <div class="text-muted">{{ partial "resources/contributors.html" . }}</div>
        <div class="text-muted">{{ .ReadingTime }} minute read</div>
        <hr />
      </div>
    </div>
  </section>
{{ end }}
{{ define "main" }}
  <section class="container my-5" style="max-width: 700px !important">{{ .Content }}</section>
  <section class="container my-5 text-center" style="max-width: 700px !important">
    <!-- LikeBtn.com BEGIN -->
    <span class="likebtn-wrapper" data-ef_voting="push" data-white_label="true" data-identifier="{{ .Permalink }}"></span>
    <script>
      (function (d, e, s) {
        if (d.getElementById("likebtn_wjs")) return;
        a = d.createElement(e);
        m = d.getElementsByTagName(e)[0];
        a.async = 1;
        a.id = "likebtn_wjs";
        a.src = s;
        m.parentNode.insertBefore(a, m);
      })(document, "script", "//w.likebtn.com/js/w/widget.js");
    </script>
    <!-- LikeBtn.com END -->
  </section>
  <section class="container my-5">
    <div class="share-links text-center">
      <h3>Share this post:</h3>
      <div class="d-flex justify-content-center">
        <!-- LinkedIn -->
        <a class="btn btn-primary mx-2" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener noreferrer"> <i class="fab fa-linkedin"></i> LinkedIn </a>
        <!-- WhatsApp -->
        <a class="btn btn-success mx-2" href="https://api.whatsapp.com/send?text={{ .Title }}%20{{ .Permalink }}" target="_blank" rel="noopener noreferrer"> <i class="fab fa-whatsapp"></i> WhatsApp </a>
        <!-- Twitter -->
        <a class="btn btn-info mx-2" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}" target="_blank" rel="noopener noreferrer"> <i class="fab fa-twitter"></i> Twitter </a>
        <!-- Facebook -->
        <a class="btn btn-primary mx-2" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener noreferrer"> <i class="fab fa-facebook"></i> Facebook </a>
        <!-- Email -->
        <a class="btn btn-secondary mx-2" href="mailto:?subject={{ .Title }}&body={{ .Permalink }}"> <i class="fas fa-envelope"></i> Email </a>
      </div>
    </div>
  </section>
{{ end }}
{{ define "template" }}
  resources/blog.html
{{ end }}
