{{- $site := .site }}
{{- $page := .Page }}
{{- $section := .context }}
<div class="row">
  <div class="col-xl-4 p-2">

      <div class="p-2 flex-fill flex-grow-1 h-100">
        <div class="card sectioncards flex-fill flex-grow-1 m-3 shadow text-start small border-0 h-100 position-relative">
          <div class="card-body p-4 px-20">
            <h3 class="ttl-nkdagility h5 text-start">Option 1: Basic Package (1 week)</h3>
            <p class="card-text text-muted">
              This option includes any work necessary within this period to enable you to get value. Migration, workshops, consulting. During the 5-day period, we will provide:
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Technical consulting and support for migrations</li>
            <li class="list-group-item">Onboarding support and optimisation to help your team set up critical workflows</li>
            <li class="list-group-item">One demo session on practices or tools best practices to assist with team adoption and proficiency</li>
          </ul>
          <div class="card-body p-4 px-20">
            <p class="card-text text-muted">
              This option is designed for organisations that primarily need support, with minimal ongoing assistance for setup and initial user support.
            </p>
          </div>
        </div>
      </div>

  </div>
  <div class="col-xl-4 p-2">

    <div class="p-2 flex-fill flex-grow-1 h-100">
      <div class="card sectioncards flex-fill flex-grow-1 m-3 shadow text-start small border-0 h-100 position-relative">
        <div class="card-body p-4 px-20">
          <h3 class="ttl-nkdagility h5 text-start">Option 2: Extended Package (1 month)</h3>
          <p class="card-text text-muted">
            This option includes any work necessary within this period to enable you to get value. Migration, workshops, consulting. During the 30-day (calendar) period, we will provide:
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Everything from option 1</li>
          <li class="list-group-item">Up to four training/workshop sessions on Azure DevOps tools and best practices to assist with team adoption and proficiency</li>
        </ul>
        <div class="card-body p-4 px-20">
          <p class="card-text text-muted">
            This option is ideal for teams seeking initial assistance with a focus on early-stage Support to establish best practices and optimize Azure DevOps features from the start.
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="col-xl-4 p-2">
    <div class="p-2 flex-fill flex-grow-1 h-100">
      <div class="card sectioncards flex-fill flex-grow-1 m-3 shadow text-start small border-0 h-100 position-relative">
        <div class="card-body p-4 px-20">
          <h3 class="ttl-nkdagility h5 text-start">Option 3: Strategic Partnership (90 day rolling)</h3>
          <p class="card-text text-muted">
            Creating a strategic partnership for us to support you with all of your Lean-Agile practice needs with specific support for Scrum, Kanban, & DevOps practices that will enable your organization to excel.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Everything from Option 1 & 2</li>
          <li class="list-group-item">Assisting developers with DevOps adoption and troubleshooting</li>
          <li class="list-group-item">Providing unlimited targeted workshops on Lean, Agile, DevOps, and Modern Engineering practice</li>
          <li class="list-group-item">Collaborating with leadership on technical strategies aligned with product goals</li>
        </ul>
        <div class="card-body p-4 px-20">
          <p class="card-text text-muted">
            This comprehensive support model is for organizations seeking a strategic partnership to fully leverage Lean-Agile practices and Azure DevOps tools for long-term value and enable continuous improvement across teams and practices.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="col p-2">
    <div class="card sectioncards flex-fill flex-grow-1 m-3 shadow text-start small border-0 h-100 position-relative">
      <div class="card-body p-4 px-20">
        <h3 class="ttl-nkdagility h5 text-start">Option Xtras: Strategic Partnership+</h3>
        <p class="card-text text-muted">
          Enhance your experience with additional services offered at a reduced cost:
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="/capabilities/mentor-programs">Mentor Programs</a> - We provide both Product Development and Product Management mentor programs from 8 to 41 weeks.</li>
        <li class="list-group-item"><a href="/capabilities/training-courses">Training Programs</a> - accredited training programs from Scrum.org, ProKanban.org, Agile Kata, and Lean Agile Procurement</li>
      </ul>
    </div>
  </div>
</div>