{{- $context := .context }}
{{- $Page := .Page }}
<div class="row">
  {{- with $context.features }}
    {{- if gt (len .) 0 }}
      {{- range $index, $features := . }}
        {{- if .media }}
          {{- if modBool $index 2 }}
            <!-- odd -->
            <div class="col-12 d-flex p-5">
              <div class="card flex-fill m-2 border-0">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6 p-3 order-1 order-sm-1 order-md-1 order-lg-1">
                    {{- if .media }}
                      {{- if strings.HasPrefix .media "/images/" }}
                        <a href="{{- .media | safeURL }}" data-toggle="lightbox" data-caption="{{- .title }}">
                          <img src="{{- .media | safeURL }}" loading="lazy" alt="{{- .title }}" width="80%" />
                        </a>
                      {{- else }}
                        {{- $image := $Page.Resources.GetMatch .media }}
                        {{- if $image }}
                          <a href="{{- $image.RelPermalink | safeURL }}" data-toggle="lightbox" data-caption="{{- .title }}">
                            <img src="{{- $image.RelPermalink | safeURL }}" loading="lazy" alt="{{- .title }}" width="80%" />
                          </a>
                        {{- else }}
                          failed to get image
                          {{- .media }}
                        {{- end }}
                      {{- end }}
                    {{- end }}
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 order-2 order-sm-2 order-md-2 order-lg-2">
                    <div class="card-body">
                      <h5 class="card-title nkda-heading-secondary">{{- .title | markdownify }}</h5>
                      <p class="card-text">{{- .content | markdownify }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {{- else }}
            <!-- even -->
            <div class="col-12 d-flex p-5">
              <div class="card flex-fill m-2 border-0">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-6 order-1 order-sm-2 order-md-2 order-lg-1">
                    <div class="card-body">
                      <h5 class="card-title nkda-heading-secondary">{{- .title | markdownify }}</h5>
                      <p class="card-text">{{- .content | markdownify }}</p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-6 p-3 order-2 order-sm-1 order-md-1 order-lg-2">
                    {{- if .media }}
                      {{- if strings.HasPrefix .media "/images/" }}
                        <a href="{{- .media | safeURL }}" data-toggle="lightbox" data-caption="{{- .title }}">
                          <img src="{{- .media | safeURL }}" loading="lazy" alt="{{- .title }}" width="80%" />
                        </a>
                      {{- else }}
                        {{- $image := $Page.Resources.GetMatch .media }}
                        {{- if $image }}
                          <a href="{{- $image.RelPermalink | safeURL }}" data-toggle="lightbox" data-caption="{{- .title }}">
                            <img src="{{- $image.RelPermalink | safeURL }}" loading="lazy" alt="{{- .title }}" width="80%" />
                          </a>
                        {{- else }}
                          failed to get image
                          {{- .media }}
                        {{- end }}
                      {{- end }}
                    {{- end }}
                  </div>
                </div>
              </div>
            </div>
          {{- end }}
        {{- else }}
          <!-- even -->
          <div class="col-12 d-flex p-2">
            <div class="card flex-fill m-2 border-0">
              <div class="card-body">
                <h5 class="card-title nkda-heading-secondary">{{- .title | markdownify }}</h5>
                <p class="card-text">{{- .content | markdownify }}</p>
              </div>
            </div>
          </div>
        {{- end }}
      {{- end }}
    {{- end }}
  {{- else }}
    <div class="col-md-12 p-2">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 order-1 order-sm-1 order-md-1  order-lg-1"></div>
        <div class="col-sm-12 col-md-12 col-lg-6 p-4  order-2 order-sm-2 order-md-2  order-lg-2">
          <h3 class="nkda-heading-secondary text-left">What we beleive!</h3>
          <p class="text-left">
            We believe that every company deserves high quality software delivered on a regular cadence that meets its customers needs. Our goal is to help you reduce your cycle time, improve your time to market, and minimise any organisational friction
            in achieving your goals.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12 p-2">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 p-4 order-1 order-sm-2 order-md-2 order-lg-1">
          <h3 class="nkda-heading-secondary text-right">Who are we?</h3>
          <p class="text-right">naked Agility Limited is a professional company that offers training, coaching, mentoring, and facilitation to help people and teams evolve, integrate, and continuously improve.</p>
          <p class="text-right">
            We recognise the positive impact that a happy AND motivated workforce, that has purpose, has on client experience. We help change mindsets towards a people-first culture where everyone encourages others to learn and grow. The resulting
            divergent thinking leads to many different ideas and opportunities for the success of the organisation.
          </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 order-sm-1 order-md-1  order-lg-2"></div>
      </div>
    </div>
  {{- end }}
</div>
