{{ $site := .site }}
{{ $context := .context }}
<!-- Courses specific rendering -->
<div class="row">
  {{ range $taxonomyName, $terms := .site.Taxonomies }}
    {{ if eq $taxonomyName $context.source }}
      <!-- Sort terms by weight, then limit to 6 -->
      {{ $sortedTerms := sort $terms.ByCount "Page.Weight" "desc" }}
      {{ range first 6 $sortedTerms }}
        <div class="col-lg-4 col-sm-12 col-md-12 p-2 d-flex">
          {{ partial "page-sections/sections-taxonomies-card.html" (dict "site" $site "context" . "subTypes" $context.types) }}
        </div>
      {{ end }}
    {{ end }}
  {{ end }}
</div>
