<!-- layouts/partials/card.html -->
{{- $context := .context }}
{{- $subTypes := .subTypes }}
{{- $pagesToDisplay := .context.Pages.ByWeight }}
{{- if $subTypes }}
  {{- $pagesToDisplay = where .context.Pages.ByWeight "Type" "in" $subTypes }}
{{- end }}
<div class="m-2 card sectioncards m-3 shadow text-start flex-fill flex-grow-1 small border-0 h-100 position-relative">
  <div class="card-body p-4 px-20">
    <h3 class="ttl-nkdagility h5 text-start" title="{{- $context.Page.Title }}">
      {{- if $context.Page.Params.card }}
        {{- $context.Page.Params.card.title }}
      {{- else }}
        {{- $context.Page.Title }}
      {{- end }}
    </h3>
    <div class="card-text text-muted">
      {{- if $context.Page.Params.card }}
        {{- $context.Page.Params.card.content | markdownify }}
      {{- else }}
        {{- .content | markdownify }}
      {{- end }}
    </div>
  </div>
  <ul class="list-group list-group-flush">
    {{- range $item := first 5 $pagesToDisplay }}
      <li class="list-group-item d-flex align-items-center">
        {{- if $item.Params.previewIcon }}
          {{- $courseIcon := $item.Resources.GetMatch (printf "images/%s" $item.Params.previewIcon) }}
          {{- if $courseIcon }}
            {{- $resized := $courseIcon.Fit "25x25 webp" }}
            <img class="shadowfilter me-2" loading="lazy" src="{{- $resized.RelPermalink }}" alt="{{- $item.Title }}" />
          {{- end }}
        {{- end }}
        {{- if $item.Params.offering.courseIcon }}
          {{- $courseIcon := $item.Resources.GetMatch (printf "images/%s" $item.Params.offering.courseIcon) }}
          {{- if $courseIcon }}
            {{- $resized := $courseIcon.Fit "25x25 webp" }}
            <img class="shadowfilter me-2" loading="lazy" src="{{- $resized.RelPermalink }}" alt="{{- $item.Title }}" />
          {{- end }}
        {{- end }}
        <a href="{{- $item.Permalink }}" class="text-decoration-none  text-nowrap text-truncate" title="{{- $item.Title }}">
          {{- if $item.Params.shorttitle }}
            {{- $item.Params.shorttitle }}
          {{- else }}
            {{- $item.Title }}
          {{- end }}
        </a>
      </li>
    {{- end }}
  </ul>
  {{- if $context.Page.RelPermalink }}
    <div class="card-footer border-transparent bg-white p-3 text-end border-0">
      {{- $itemString := delimit $subTypes "," }}
      <a href="{{- $context.Page.RelPermalink }}?types={{- $itemString | urlquery }}" class="btn btn-nkdagility p-2" title="More information on {{- $context.Page.Title }}">See all <i class="fa-solid fa-arrow-right"></i></a>
    </div>
  {{- end }}
</div>
