{{- $site := .site }}
{{- $context := .context }}
<!-- End TrustBox script --><!-- TrustBox widget - Grid -->
<div
  height="100%"
  class="trustpilot-widget"
  data-locale="en-US"
  data-template-id="539adbd6dec7e10e686debee"
  data-businessunit-id="5c12d8d7393a0100015d1c3e"
  data-style-height="{{- .context.height }}"
  data-style-width="100%"
  data-theme="light"
  data-tags="{{- .context.tags }}"
  data-stars="4,5">
  <a href="https://www.trustpilot.com/review/scrum.org" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
