# ignore directories
/public/
/site/public/
**/.obsidian/
**/_gen/
/resources/
/.processing/
**/data.index.*.batch
**/data.index.*-*.jsonl
**/classifications.batch-*.jsonl
**/batch_*.jsonl
**/batch-*.jsonl
.data/*.log
.data/.log
.powershell/py/__pycache__/*
