<div class="row">
  <div class="col-12 text-end">
    <div class="d-inline-flex gap-1">
      {{- partial "components/share-dropdown.html" . }}
      {{- partial "components/admin-dropdown.html" . }}
      {{- partial "components/theme-dropdown.html" . }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-8">
    {{ $breadcrumbs := partial "functions/breadcrumbs.html" . }}
    <nav aria-label="breadcrumb" nkdMeta="[Kind:={{- .Kind }}][Type:={{- .Type }}]">
      <ul class="breadcrumb">
        <!-- Output breadcrumb trail -->
        {{- range $index, $page := $breadcrumbs }}
          <li class="breadcrumb-item" title="{{- $page.Title }}{{ if $page.Params.short_title }}&nbsp;({{ $page.Params.short_title }}){{ end }}{{ if $page.Description }}&nbsp;-&nbsp;{{ $page.Description }}{{ end }}">
            {{- if eq $index (sub (len $breadcrumbs) 1) }}
              <!-- Current page (no link) -->
              <span class="active">
                {{- if $page.Params.short_title }}
                  {{- $page.Params.short_title }}
                {{- else }}
                  {{- $page.Title }}
                {{- end }}
              </span>
            {{- else }}
              {{ if $page.IsHome }}
                <a href="{{- $page.Permalink }}">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="icon" viewBox="0 0 576 512">
                    <path d="M303.5 5.7c-9-7.6-22.1-7.6-31.1 0l-264 224c-10.1 8.6-11.3 23.7-2.8 33.8s23.7 11.3 33.8 2.8L64 245.5 64 432c0 44.2 35.8 80 80 80l288 0c44.2 0 80-35.8 80-80l0-186.5 24.5 20.8c10.1 8.6 25.3 7.3 33.8-2.8s7.3-25.3-2.8-33.8l-264-224zM112 432l0-227.2L288 55.5 464 204.8 464 432c0 17.7-14.3 32-32 32l-48 0 0-152c0-22.1-17.9-40-40-40l-112 0c-22.1 0-40 17.9-40 40l0 152-48 0c-17.7 0-32-14.3-32-32zm128 32l0-144 96 0 0 144-96 0z" />
                  </svg>
                </a>
              {{ else }}
                <!-- Linked breadcrumb items -->
                <a href="{{- $page.Permalink }}">
                  {{- if $page.Params.short_title }}
                    {{- $page.Params.short_title }}
                  {{- else }}
                    {{- $page.Title }}
                  {{- end }}
                </a>
              {{- end }}
            {{- end }}
          </li>
        {{- end }}
      </ul>
    </nav>
  </div>
  <div class="col-12 col-lg-4 d-flex justify-content-end align-items-end">
    {{- partial "components/taking-on-new-client-poc-cycle.html" . }}
  </div>
</div>

<style>
  .breadcrumb {
    list-style: none;
    display: flex;
    justify-content: left; /* Centers the breadcrumb items horizontally */
    padding: 0;
    margin: 0;
    font-size: smaller;
  }

  .breadcrumb-item {
    margin-right: 10px;
  }

  .breadcrumb-item::after {
    content: ">";
    margin-left: 10px;
  }

  .breadcrumb-item:last-child {
    /* display: none;  Hide the last breadcrumb item */
  }

  .breadcrumb-item:nth-last-child(2)::after {
    /* content: none; Remove the arrow after the second-to-last item */
  }

  .breadcrumb-item:nth-last-child(1)::after {
    content: none; /* Remove the arrow after the second-to-last item */
  }

  .breadcrumb-item a {
    text-decoration: none;
    color: #3498db;
  }

  .breadcrumb-item.active {
    font-weight: bold;
    color: #333;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: none !important; /* Removes the default slash separator */
  }
</style>
