{{ $page := .Page }}
{{ $resourceTypes := (slice "blog" "videos" "signals" "guides") }}
{{- $relatedData := partial "functions/get-related.html" .Page }}
<div class="dropdown">
  <button class="btn btn-sm btn-outline-secondary dropdown-toggle align-items-center" type="button" id="tocDropdown" data-bs-toggle="dropdown" aria-expanded="false" title="Related Content"><span class="d-none d-xl-inline">Related</span> <i class="fa-regular fa-link"></i></button>
  <div class="dropdown-menu p-3 custom-toc-dropdown" aria-labelledby="tocDropdown" style="min-width: 300px; max-height: 60vh; overflow-y: auto;">
    {{ range $resourceType := $resourceTypes }}
      <h6 class="dropdown-header">Related {{ $resourceType | title }} {{ if and $relatedData (gt (len $relatedData) 0) }}<i class="fa-regular fa-group-arrows-rotate"></i>{{ end }}</h6>
      {{ if and $relatedData (gt (len $relatedData) 0) }}
        {{ $relatedBlogs := where $relatedData "EntryType" $resourceType }}
        {{ if eq (len $relatedBlogs) 0 }}
          {{ $relatedBlogs = where $relatedData "ResourceType" $resourceType }}
        {{ end }}
        {{ if and $relatedBlogs (gt (len $relatedBlogs) 0) }}
          {{ range first 3 $relatedBlogs }}
            {{ $relatedPage := site.GetPage .Reference }}
            {{ if $relatedPage }}
              <a class="dropdown-item" href="{{ $relatedPage.RelPermalink }}" title="{{ $relatedPage.Description }}">{{ $relatedPage.LinkTitle }}</a>
            {{ else }}
              <a class="dropdown-item" href="https://preview.nkdagility.com/resources/{{ .ResourceId }}"><i class="fa-regular fa-flux-capacitor"></i> {{ .Title }}</a>
            {{ end }}
          {{ end }}
        {{ else }}
          <a class="dropdown-item disabled" href="#">no entries found</a>
        {{ end }}
      {{ else }}
        {{ $related := $page.Site.RegularPages.Related $page }}
        {{ $items := where $related ".Params.ResourceType" $resourceType | first 3 }}
        {{ with $items }}
          {{ range . }}
            <a class="dropdown-item" href="{{ .RelPermalink }}" title="{{ .Description }}">{{ .LinkTitle }}</a>
          {{ end }}
        {{ else }}
          <a class="dropdown-item disabled" href="#">no entries found</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
