<div class="dropdown">
  <button type="button" id="theme-dropdown-button" class="btn btn-link ps-2" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Theme options">
    <i id="theme-toggle-icon" class="fa-regular fa-moon"></i>
    <span class="ms-1 d-none d-lg-inline">Theme</span>
  </button>
  <div class="dropdown-menu dropdown-menu-end p-2">
    <button id="theme-light" class="btn btn-sm w-100 mb-2 theme-option" data-theme="light">
      <span><i class="fa-regular fa-sun me-2"></i> Light</span>
      <i class="fa-regular fa-check ms-2 theme-check theme-light-check d-none"></i>
    </button>
    <button id="theme-dark" class="btn btn-sm w-100 mb-2 theme-option" data-theme="dark">
      <span><i class="fa-regular fa-moon me-2"></i> Dark</span>
      <i class="fa-regular fa-check ms-2 theme-check theme-dark-check d-none"></i>
    </button>
    <button id="theme-system" class="btn btn-sm w-100 theme-option" data-theme="system">
      <span><i class="fa-regular fa-display me-2"></i> Sync with System</span>
      <i class="fa-regular fa-check ms-2 theme-check theme-system-check d-none"></i>
    </button>
  </div>
</div>