{{- define "headline" }}
  <section class="container-fluid resources-headline py-md-4">
    <section class="container">
      {{- partial "components/taxonomy-headline.html" . }}
    </section>
  </section>
{{- end }}

{{- define "main" }}
  <section class="container my-2">
    {{- partial "page-sections/sections.html" . }}
  </section>
  <section class="container my-5">
    <h2>All Our {{- .Title }}</h2>
    <div class="row">
      {{- range $taxonomyName, $page := .Pages }}
        {{- if eq .Type "course" }}
          <div class="col-xl-4 d-flex p-2">
            {{- partial "cards-course.html" (dict "context" .) }}
          </div>
        {{- else }}
          <div class="col-xl-4 d-flex p-2">
            {{- if $page.Params.card }}
              {{- partial "card.html" (dict "class" "sectioncards" "title" $page.Params.card.title "content" $page.Params.card.content "buttonContent" $page.Params.card.button.content "permalink" $page.Permalink ) }}
            {{- else }}
              {{- partial "card.html" (dict "class" "sectioncards" "title" $page.Title "content" $page.Description "buttonContent" "Find out More" "permalink" $page.Permalink ) }}
            {{- end }}
          </div>
        {{- end }}
      {{- end }}
    </div>
  </section>
{{- end }}

{{- define "siteSectionCallback" }}
  <section class="container my-5">
    <h2 title="Capabilities - What we do?">Our Services</h2>
    <p>Explore our comprehensive range of services and capabilities designed to empower organizations and teams. With our expert solutions, you can efficiently address and resolve immediate challenges, driving success across your operations.</p>
    {{- partial "cards-section.html" (dict "context" . "SectionName" "capabilities") }}
  </section>
{{- end }}
{{- define "template" }}
  course-topics/list.html
{{- end }}
