{{/* Accepts dict with keys: Page, resourceType */}}
{{ $page := .Page }}
{{ $resourceType := .resourceType | default "blog" }}
{{ $relatedPath := printf "%s/data.index.related.json" (path.Dir $page.File.Path) }}
{{ $relatedData := (readFile $relatedPath | transform.Unmarshal) }}
{{ $relatedBlogs := where $relatedData "resourceType" $resourceType }}
{{ if and $relatedBlogs (gt (len $relatedBlogs) 0) }}
  <h3>Related {{ $resourceType }} (Extended)</h3>
  <ul>
    {{ range first 5 $relatedBlogs }}
      {{ $relatedPage := site.GetPage .Reference }}
      {{ if $relatedPage }}
        <li><a href="{{ $relatedPage.RelPermalink }}">{{ $relatedPage.LinkTitle }}</a></li>
      {{ else }}
        <li><a href="{{ .Reference }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
  </ul>
{{ else }}
  {{ $related := $page.Site.RegularPages.Related $page }}
  {{ $blogs := where $related ".Params.resourceTypes" $resourceType | first 5 }}
  {{ with $blogs }}
    <h3>Related {{ $resourceType }}</h3>
    <ul>
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  {{ else }}
    <p>No related {{ $resourceType }} found.</p>
  {{ end }}
{{ end }}
