{{ $ResourceType := .Params.ResourceType | default "bug" }}

{{- $ResourceToIcons := dict
  "videos" "fa-video"
  "blog" "fa-newspaper"
  "newsletters" "fa-envelope-open-text"
  "guides" "fa-book"
  "workshops" "fa-users-viewfinder"
  "recipes" "fa-cauldron"
  "signals" "fa-signal-stream"
  "engineering-notes" "fa-gear-code"
}}

{{ if gt .Date (now) }}
  {{ partial "components/site-icon.html" (dict "icon" "fa-flux-capacitor") }}
{{ end }}
{{ if .Draft }}
  {{ partial "components/site-icon.html" (dict "icon" "fa-code-pull-request-draft") }}
{{ end }}

{{- $resourceIcon := index $ResourceToIcons $ResourceType }}

{{- if $resourceIcon }}
  {{ partial "components/site-icon.html" (dict "icon" $resourceIcon) }}
{{ else }}
  {{ partial "components/site-icon.html" (dict "icon" "fa-square-question") }}
{{ end }}
