{{ $section := .Site.GetPage "section" .Section }}
{{ $jsonFile := .Page.Resources.GetMatch "data.index.classifications.json" }}
{{ $jsonData := $jsonFile | unmarshal }}
<div class="d-flex">
  <div class="resourcetypes">
    <a href="{{ printf "/%s" (.Section | urlize) | relURL }}" class="btn btn-sm btn-nkdagility-accent me-1 text-nowrap" title="{{ $section.Title }}">{{- title .Section }} </a>
  </div>
  <div class="categories">
    {{ with .Params.concepts }}
      {{ range . }}
        {{ partial "components/classifications/tag-button.html" (dict "term" . "jsonData" $jsonData "buttonClass" "btn btn-sm btn-nkdagility-accent-alt me-1") }}
      {{ end }}
    {{ end }}
  </div>
  <div class="categories">
    {{ with .Params.categories }}
      {{ range . }}
        {{ partial "components/classifications/tag-button.html" (dict "term" . "jsonData" $jsonData "buttonClass" "btn btn-sm btn-nkdagility-secondary me-1") }}
      {{ end }}
    {{ end }}
  </div>
</div>
