<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
<!-- End TrustBox script --><!-- TrustBox widget - Grid -->
<div
  height="100%"
  class="trustpilot-widget"
  data-locale="en-US"
  data-template-id="539adbd6dec7e10e686debee"
  data-businessunit-id="5c12d8d7393a0100015d1c3e"
  data-style-height="1200px"
  data-style-width="100%"
  data-theme="light"
  data-tags="trainer:Nml4dDMzbkNoYXJhY3Ryekr3AA=="
  data-stars="4,5">
  <a href="https://www.trustpilot.com/review/scrum.org" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
