{{ define "main" }}
  <section class="container my-5">
    <h2 title="Capabilities - What we do?">Our Bits-n-bobs</h2>
    <p>Explore our comprehensive range of services and capabilities designed to empower organizations and teams. With our expert solutions, you can efficiently address and resolve immediate challenges, driving success across your operations.</p>
    {{ partial "cards-section.html" (dict "context" . "SectionName" "company") }}
  </section>
{{ end }}
{{ define "template" }}
  company/list.html
{{ end }}
