{{- define "main" }}
  <section class="container my-5 text-center">
    <h2>What we value</h2>
    <p>We are discovering more effective ways to deliver valuable products by doing it ourselves and guiding others in their journey. Through this work, we have come to value:</p>
    <div class="container" style="font-size: clamp(12px, 1.5vw, 32px);">
      <div class="row">
        <div class="col-5 text-end"><span style="color: orange;">Working Products</span></div>
        <div class="col-2 text-center"><strong>over</strong></div>
        <div class="col-5 text-start"><span style="color: blue;">Comprehensive Documentation</span></div>
      </div>
      <div class="row">
        <div class="col-5 text-end"><span style="color: orange;">Empowering Software Teams</span></div>
        <div class="col-2 text-center"><strong>over</strong></div>
        <div class="col-5 text-start"><span style="color: blue;">Prescriptive Processes</span></div>
      </div>
      <div class="row">
        <div class="col-5 text-end"><span style="color: orange;">Expert Guidance</span></div>
        <div class="col-2 text-center"><strong>over</strong></div>
        <div class="col-5 text-start"><span style="color: blue;">Generic Solutions</span></div>
      </div>
      <div class="row">
        <div class="col-5 text-end"><span style="color: orange;">Evidence-Based Decisions</span></div>
        <div class="col-2 text-center"><strong>over</strong></div>
        <div class="col-5 text-start"><span style="color: blue;">Assumptions and Guesswork</span></div>
      </div>
      <div class="row">
        <div class="col-5 text-end"><span style="color: orange;">Measuring Impact</span></div>
        <div class="col-2 text-center"><strong>over</strong></div>
        <div class="col-5 text-start"><span style="color: blue;">Static Goals</span></div>
      </div>
    </div>
    <p>That is, while there is value in the items on the right, we value the items on the left more.</p>
    <h3>Principals</h3>
    <p>Every company deserves a working product that delivers real value to its users.</p>
    <p>We are dedicated to supporting and empowering software organizations and teams.</p>
    <p>We will provide you with the right expertise or find someone who can.</p>
    <p>Our advice and strategies are grounded in evidence and proven methodologies.</p>
    <p>We will monitor and measure our impact on your company using evidence-based practices.</p>
    <p>The customer’s needs and expectations are at the center of everything we do.</p>
    <p>Collaboration with boutique firms and specialists enhances the quality of our services.</p>
    <p>We are committed to the continuous improvement of our processes, products, and services.</p>
    <p>We operate with transparency and hold ourselves accountable for our actions and results.</p>
    <p>We are committed to contributing to sustainable practices and social responsibility.</p>
    <h4>Courage | Commitment | Focus | Respect | Openness</h4>
  </section>
  <section class="container my-5 text-center">
    <h2>Who we work with?</h2>
    <p>
      We have access to the largest cadre of professional trainers, coaches, and experts in the world! We find the best fit for your organisation from our trainers, coaches, and experts in over 200 countries around the world to deliver the best fit for
      your organisation and to challenge existing cultural norms to improve effectiveness.
    </p>
  </section>
  <section class="container my-5 text-center">
    <h2>
      Our Founder <br />
      Martin Hinshelwood
    </h2>
    <h3>BSc, PST, PKT, Microsoft MVP: GitHub & Azure DevOps</h3>
    <img src="images/naked-agility-with-martin-hinshelwood-scrum.org-awwards.png" loading="lazy" alt="Martin Hinshelwood" class="img-fluid" />
    <p>
      Martin Hinshelwood is a passionate agile leader with a track record of inspiring, encouraging, and igniting momentum. Featured speaker, author, and industry thought leader, Martin has a strong track record of helping organizations build a vision and
      execute evolutionary and revolutionary change. His deep technical knowledge, business insight, and experience drive impactful change for organizations.
    </p>
    <p>
      Technologist turned agilist, Martin successfully helped organisations decentralise, democratise, and evolve their way of work to build extraordinary processes and drive organizational change through culture, technology, and teamwork. Martin is a
      Professional Scrum Trainer. Professional Kanban Trainer and Microsoft MVP: Development Technologies.
    </p>
    <p>Specialists: DevOps, Lean and Agile Methodology, Organizational Transformation</p>
    <h3>History</h3>
    <p>
      Since 2008 Martin has helped many organisations and has trained 1000+ people in 37 countries around the world. He is based in Scotland & Mexico and offers Scrum training courses with certification all over the world. He trains and coaches Scrum
      Masters, Product Owners, Developers and organisations in their evolution towards business agility. In the pursuit of business agility for the many organisations that Martin has recently been working with: Martin can provide private onsite training
      for your company anywhere in the world.
    </p>
    <h3>More Info</h3>
    <p>
      Martin Hinshelwood helps organisations to deliver better software faster by adopting DevOps & Agility using Visual Studio, TFS/VSTS, Azure, & Scrum. Martin has been a consultant for 7 years and previously had 10 years’ experience in engineering
      software solutions.
    </p>
    <p>Martin founded naked Agility Limited, when he returned to the UK in 2013, with the belief that every company deserves high quality working software delivered on a regular cadence that meets its customer’s needs.</p>
    <p>He uses DevOps & Agile practices, learned through many years working with industry leaders, like Brian Harry and Ken Schwaber, to make sure that your development team can achieve it.</p>
    <p>
      Martin has been awarded as a Microsoft MVP every year since 2008 in the ALM & DevOps category and has been a Visual Studio ALM Ranger since 2010. He attained his MCSD: Application Lifecycle Management in 2012. In 2014 Martin co-authored Professional
      Application Lifecycle Management with Visual Studio 2013 and was often called upon by Microsoft to present to customers and at events on ALM, DevOps, & Agility. Martin also became a Professional Scrum Trainer (PST) with Scrum.org, Ken Schwaber’s
      organisation, in 2010 and currently teaches public and private courses; Professional Scrum Foundations (PSF), Professional Scrum Master (PSM), Professional Scrum Developer (PSD), & Scaled Professional Scrum (SPS). In 2013 he became an Evidence-based
      Management Consultant (EBM) with Scrum.org and used Evidence-based Management techniques to help the customer understand where to make improvements. In 2020 Martin became a Professional Kanban Trainer (PKT) with ProKanban.org, Daniel Vacanti’s
      organisation, and currently teaches the Applying Professional Kanban (APK) training class.
    </p>
  </section>
{{- end }}
{{- define "template" }}
  company/list.html
{{- end }}
