{{- define "headline" }}
  <section class="container-fluid resources-headline py-md-4">
    <section class="container">
      <div>
        <div class="row">
          <div class="col-12 d-flex flex-column">
            <div class="flex-grow-1">
              <h1 class="mb-4 nkda-heading-primary">{{- .Title | markdownify }}</h1>
              {{- if .Params.subtitle }}
                <h2 class="mb-4 nkda-heading-secondary">{{- .Params.subtitle | markdownify }}</h2>
              {{ else }}
                <h2 class="mb-4 nkda-heading-secondary">{{- .Description | markdownify }}</h2>
              {{- end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
{{- end }}

{{- define "template" }}
  company/single.html
{{- end }}
