<div class="card">
  <div class="card-header" style="color: white;background-color: {{ .Params.brandColour }}">{{ .Params.shorttitle }}</div>
  <div class="card-body">
    <p class="card-text text-muted">GOAL: 6 participants</p>
    <h5 class="card-title"></h5>
    <div class="progress" style="height: 10px;">
      <div class="progress-bar bg-nkdagility-accent" role="progressbar" style="width: 66.7%;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row justify-content-between">
      <div class="col-auto">4 Participants</div>
      <div class="col-auto">30 days left</div>
    </div>
    <p class="card-text">Backing this class gives you access to additional coaching, future discounts, and participantion in the scheduling and format of the delivery.</p>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <div class="d-grid gap-2">
      <a href="#" class="btn btn-nkdprimary w-100 position-relative">
        <i class="fas fa-ticket position-absolute start-0 top-50 translate-middle-y ms-2"></i>
        Back this Course
      </a>
      <a href="#" class="btn btn-nkdprimary w-100 position-relative">
        <i class="fas fa-heart position-absolute start-0 top-50 translate-middle-y ms-2"></i>
        <!-- Heart icon positioned on the left -->
        Follow
      </a>
      <a href="#" class="text-center mt-2">learn more</a>
    </div>
  </div>
</div>
