<section class="container my-5">
  <h2>Syllabus</h2>
  <p>
    Our comprehensive syllabus is designed to accommodate various learning styles, whether you prefer a traditional in-depth session, a flexible immersive experience, or a structured mentor program. Each module can be delivered in the following formats:
  </p>
  <ul>
    <li><strong>Traditional Learning Experience:</strong> Engage in full-day or half-day sessions led by expert trainers in an interactive classroom setting. Perfect for those seeking an intensive, focused learning experience.</li>
    <li><strong>Immersive Learning Experience:</strong> Enjoy a multi-week program that breaks down full-day sessions into shorter, more manageable classes, integrating real-world applications and reflections for continuous improvement.</li>
    <li><strong>Mentor Programs with Immersive Experiences:</strong> Participate in a series of immersive learning sessions as part of our mentor programs, combining structured learning with personalized guidance and continuous feedback over time.</li>
  </ul>
  <p>Our immersive programs empower growth through incremental learning, outcome-based assignments, and facilitated reflections, ensuring that the skills you gain are practical, applicable, and ready to be used in your work environment.</p>
  <div class="row">
    {{ if and (not (eq .Page.Params.syllabus nil)) (gt (len .Page.Params.syllabus) 0) }}
      {{ range $index, $syllabi := .Page.Params.syllabus }}
        <div class="col-6 p-2">
          <!-- Card -->
          <div class="m-2 card sectioncards m-3 shadow text-start flex-fill flex-grow-1 small border-0 h-100 position-relative">
            <div class="card-body p-4 px-20">
              <h3 class="ttl-nkdagility h5 text-start">
                {{ .title }}
              </h3>
              <div>
                <span class="badge text-bg-primary">Module {{ .id }}</span>
                <span class="badge text-bg-primary">
                  <i class="fa-light fa-clock"></i> {{ .duration }}
                </span>
              </div>
              <div class="card-text text-muted">
                {{ .content | markdownify }}
              </div>
              <div class="row">
                <div class="col-12"></div>
              </div>
              <div class="row">
                <div class="col-6">
                  {{/* <span class="badge text-bg-warning" title="There are no longer any seats available.">SOLD OUT</span>
                    <span class="badge text-bg-success" title="There are seats available">SEATS</span>
                    <span class="badge rounded-pill bg-secondary">learning experience</span>
                  */}}
                </div>
                <div class="col-6">
                  <div class="btn-group float-end" role="group" aria-label="Basic example">
                    <!-- Add buttons here if needed -->
                  </div>
                </div>
              </div>
              <div class="m-2"></div>
              <h4 class="card-title nkdagility-primary h6 text-start">Learning Resources</h4>
              <ul class="list-group list-group-flush">
                {{ if and (not (eq .learningResources nil)) (gt (len .learningResources) 0) }}
                  {{ range sort .learningResources "weight" }}
                    {{ if not .draft }}
                      <li class="list-group-item d-flex align-items-center small">
                        <div class="badge text-bg-secondary me-1">{{ .duration }}m</div>
                        <div class="badge text-bg-secondary me-1"><i class="fa-light fa-{{ .type }}"></i></div>
                        {{- $isExternal := strings.HasPrefix .link "http" -}}
                        {{- if $isExternal }}
                          <a href="{{ .link | safeURL }}" class="external-link" target="_blank" rel="noopener noreferrer">
                            {{ .title }}&nbsp;<small><i class="fa-regular fa-arrow-up-right-from-square" style="transform: scale(0.6)"></i></small
                          ></a>
                        {{- else }}
                          <a href="{{ .link | safeURL }}"> {{ .Text }} </a>
                        {{- end }}
                      </li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </ul>
              {{ if .assignement }}
                <div class="m-2"></div>
                <h4 class="card-title nkdagility-primary h6 text-start">Assignement*</h4>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center">
                    <div class="badge text-bg-secondary me-1"><i class="fa-light fa-clipboard-check"></i></div>
                    {{ .assignement | markdownify }}
                  </li>
                </ul>
              {{ end }}
            </div>
          </div>
          <!-- Card END -->
        </div>
      {{ end }}
    {{ else }}
      <div class="col-12 p-2">The syllabus is available upon request.</div>
    {{ end }}
    <div class="col-12 p-2">
      <p>If we don't have dates that suit you, please <a href="/subscribe-newsletter/">sign up to be the first</a> to know, or <a href="/company/general-inquiries/">contact us</a> for discounts or private training.</p>
      <p>Assignments are part of our Immersive Training Programs, encouraging participants to apply their learning practically between sessions for a more hands-on experience.</p>
      <p>For those looking for a more guided, continuous learning journey, explore our <a href="/capabilities/mentor-programs/">Mentor Programs</a>, where you can engage in a series of immersive learning sessions combined with ongoing mentorship.</p>
    </div>
  </div>
  <hr />
</section>
