{{ define "main"}}
<section class="container my-2" style="max-width: 700px !important"> <!-- headline -->{{ partial "breadcrumbs.html" . }} </section>
<section class="container my-3" style="max-width: 900px !important">
  <div class="row p-5">
    <div class="col-12">
      <h1 class="mb-4 nkda-heading-primary">{{ .Title | markdownify }}</h1>
      <h2 class="mb-4 nkda-heading-secondary">{{ .Params.author}} | {{ .Params.tags}} | {{ .Date.Format "2nd January 2006" }} </h2>
    </div>
  </div>
</section>
<section class="container my-5" style="max-width: 700px !important"> {{ .Content }} </section>
{{ end}}
