{{- $term := .term -}}
{{- $jsonData := .jsonData -}}
{{- $class := default "btn btn-sm btn-secondary me-1" .buttonClass -}}
{{- $categoryData := index $jsonData $term -}}
{{ $termPage := false }}
{{ range $taxonomy, $terms := site.Taxonomies }}
  {{ $candidate := site.GetPage (printf "%s/%s" $taxonomy (urlize $term)) }}
  {{ if and (not $termPage) $candidate }}
    {{ $termPage = $candidate }}
  {{ end }}
{{ end }}

{{- $icon := "fa-tag" -}}
<!-- Replace with your default icon class -->
{{- $iconType := "fa-regular" -}}
<!-- Replace with your default icon type -->

{{- with $termPage }}
  {{- with .Params.icon }}
    {{- $icon = . -}}
  {{- end }}
  {{- with .Params.iconType }}
    {{- $iconType = . -}}
  {{- end }}
{{- end }}

{{- if $categoryData -}}
  <a href="{{ printf "/resources/%s" ($term | urlize) | relURL }}" class="{{ $class }} text-nowrap" title="Classification: {{ $term }}&#10;&#10;Reason: {{ $categoryData.reasoning }}&#10;&#10;Confidence: {{ $categoryData.final_score }}%&#10;Level: {{ $categoryData.level }}">
    {{ if $termPage.Params.icon }}<i class="{{ $iconType }} {{ $icon }}"></i>{{ end }}
    {{ $term }}
  </a>
{{- else -}}
  <a href="{{ printf "/resources/%s" ($term | urlize) | relURL }}" class="{{ $class }} text-nowrap">
    {{ if $termPage.Params.icon }}<i class="{{ $iconType }} {{ $icon }}"></i>{{ end }}
    {{ $term }}
  </a>
{{- end -}}
