<div id="comments">
  <script
    src="https://giscus.app/client.js"
    data-repo="nkdAgility/NKDAgility.com"
    data-repo-id="R_kgDOMvsNvw"
    data-category="Blog"
    data-category-id="DIC_kwDOMvsNv84Cjtze"
    {{ if .Params.giscusDiscussionId }}
      data-mapping="number" data-term="{{ .Params.giscusDiscussionId }}"
    {{ else }}
      data-mapping="og:title" data-strict="0"
    {{ end }}
    data-reactions-enabled="1"
    data-emit-metadata="1"
    data-input-position="bottom"
    data-theme="light"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</div>
