<div class="d-flex">
  <div class="resourcetypes p-1">
    <span class="badge text-bg-nkdagility-primary">{{- .Params.ResourceType }}</span>
  </div>
  <div class="categories p-1">
    {{ with .Params.categories }}
      {{ range . }}
        {{ $term := . }}
        {{ with $.Site.GetPage "taxonomy" (printf "categories/%s" ($term | urlize)) }}
          <a href="{{ .Permalink }}" class="btn btn-sm btn-nkdagility-secondary">{{ $term }}</a>
        {{ else }}
          <a href="{{ printf "/resources/%s" ($term | urlize) | relURL }}" class="btn btn-sm btn-nkdagility-secondary">{{ $term }}</a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
