<div>
  <div class="row">
    <div class="col-12 col-xl-9">
      {{ if eq .Type "resources" }}
        {{- partial "components/resources/resourceType.html" . }}
      {{ else }}
        {{- partial "components/pages/header-classifications.html" . }}
      {{ end }}
    </div>
    <div class="col-xl-3 d-none d-xl-flex justify-content-end align-items-center text-nowrap">
      {{ if eq .Type "resources" }}
        <h4 title="Agentic Agility">a·gen·tic a·gil·i·ty</h4>
      {{ else }}
        <h4 title="naked Agility">naked Agil·ity</h4>
      {{ end }}
    </div>
    <div class="col-12 col-xl-8 d-flex flex-column">
      <div class="flex-grow-1">
        <h1 class="mb-4 nkda-heading-primary" title="{{- .Title }}">{{- .Params.headline.Title | default .Title }}</h1>
        <div class="text-white">
          {{- if .Params.headline.content }}
            <p class="mb-4">{{- .Params.headline.content | markdownify }}</p>
          {{ else if .Params.subtitle }}
            <p class="mb-4 ">{{- .Params.subtitle | markdownify }}</p>
          {{ else }}
            <p class="mb-4"><strong>TL;DR; </strong>{{- .Params.tldr | default .Description | markdownify }}</p>
          {{- end }}
        </div>
      </div>
      {{ if and (eq .Type "resources") (not (or (eq .Params.resourceIsSection true) (eq .Params.resourceIsSection "true"))) }}
        <div class="mt-auto">{{- partial "components/resources/craft.html" . }}</div>
      {{ else if ne .Type "resources" }}
        {{- partial "components/pages/header-buttons.html" . }}
        <div class="mt-auto">Last Updated: {{ .Lastmod.Format "2006-01-02" }}</div>
      {{ end }}
    </div>
    <div class="col-xl-4 d-none d-xl-flex justify-content-center align-items-center">
      <div class="position-relative">
        {{ if eq .Type "resources" }}
          {{ $ResourceType := .Params.ResourceType | default "default" }}
          <img class="header-logo" src="/images/logo-{{ .Section }}-{{ $ResourceType }}.png" style="max-width: 300px;" />
        {{ else }}
          <img class="header-logo" src="/images/logo-{{ .Section }}.png" style="max-width: 300px;" />
        {{ end }}
        <img src="/images/nkdagility-with-martin-hinshelwood-dark-300px.png" alt="Image" class="position-absolute top-0 end-0" style="width: 100px; height: auto;" />
      </div>
    </div>
    <div class="col-xl-12 d-none d-xl-flex justify-content-end align-items-center">
      {{ $url := "" }}
      {{ if eq .Type "resources" }}
        {{ if eq .Kind "section" }}
          {{ $ResourceType := .Params.ResourceType | default "" }}
          {{ $url = printf "https://nkdagility.com/resources/%s" $ResourceType }}
        {{ else }}
          {{ $url = printf "https://nkdagility.com/resources/%s" .Params.ItemId }}
        {{ end }}
      {{ else }}
        {{ $url = printf "https://nkdagility.com%s" .RelPermalink }}
      {{ end }}
      {{ $url }}
    </div>
  </div>
</div>
