/* Define branding color variables */
:root {
    --primary-color: #713183; /* Primary branding color */
    --primary-color-light: #dbb0e6; /* Primary branding color */
    --secondary-color: #007acc; /* Secondary branding color */
    --secondary-color-light: #9fd2f4; /* Secondary branding color */
    --accent-color: #e37f01; /* Accent color */
    --accent-color-light: #ffcd35; /* Accent color */
    --background-color: #ecf0f1; /* Background color */
    --primary-color-text: #ffffff; /* Primary text color */
  }

  body {
    font-family: 'Calibri', 'Open Sans', sans-serif;
    font-size: clamp(0.8rem, 1vw + 1rem, 1.2rem);
    line-height: 1.6;
  }


h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }

/* More specific selector */
.nkd-heading-primary-light h1, .nkd-heading-primary-light h2, .nkd-heading-primary-light h3, .nkd-heading-primary-light h4, .nkd-heading-primary-light h5, .nkd-heading-primary-light h6 {
    color: whitesmoke;
}


.nkda-heading-primary {
    color: var(--primary-color);
    font-size: clamp(1rem, 4vw + 1rem, 2.5rem);
}

.nkda-heading-primary-content {
    font-size: clamp(0.8rem, 2vw + 1rem, 1.2rem);
}

.nkda-heading-secondary {
    color: initial;
    font-size: clamp(0.8rem, 2vw + 1rem, 1.2rem);
}

.mainContainer
{
    max-width: 1768px;
    margin-left: auto;
    margin-right: auto;
}

.bg-brand-primary
{
    background-color: #713183;
}
.bg-brand-secondary {
    background-color: #54595F;
}

.bg-brand-development {
    background-color: green;
    color: white;
}

.bg-brand-canary {
    background-color: darkgoldenrod;
    color: white;
}

.bg-brand-preview {
    background-color: darkorange;
    color: white;
}


.bg-brand-menu
{
    background-color: #43464c;
}

pre {
    max-width: 1024px;;
}


/* navigration start */

.navbar-brand-topbaritem {
    font-size: 0.9em;
}

.nkda-text-primary {
    color: #713183;
}

.bg-nkdagility-primary {
    background-color: var(--primary-color) !important;
}

.bg-nkdagility-accent {
    background-color: var(--accent-color) !important;
}

.btn-nkdprimary {
    background-color: #713183;
    color: white;
}

.btn-nkdprimary:hover {
    background-color: #54595F;
    color: white;
}

.text-bg-nkdagility-primary {
    color: #ffffff; /* Custom text color */
    background-color: var(--primary-color); /* Custom background color */
  }


/* buttons */

.btn-nkdagility-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-nkdagility-primary:hover {
    background-color: var(--primary-color-light);
    color: white;
}

.btn-nkdagility-primary-light {
    background-color: var(--primary-color-light);
    color: white;
}

.btn-nkdagility-primary-light:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn-nkdagility-secondary {
    background-color: var(--secondary-color);
    color: white;
}

.btn-nkdagility-secondary:hover {
    background-color: var(--secondary-color-light);
    color: white;
}

.btn-nkdagility-secondary-light {
    background-color: var(--secondary-color-light);
    color: white;
}

.btn-nkdagility-secondary-light:hover {
    background-color: var(--secondary-color);
    color: white;
}



/* end buttons */



.post-img {
    text-align: center; /* Centers the image inside the .post-img container */
}

.post-img img {
    max-width: 50%; /* Ensures the image will not exceed 50% of the container width */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Makes the image a block-level element */
    margin: 0 auto; /* Centers the block element horizontally */
}

img {
    max-width: 100%; /* Ensures the image will not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Removes any inline-block gap */
  }

  .text-bg-nkdagility-primary {
    background-color: var(--primary-color);
}