.resources-headline {
  background-color: var(--primary-color-background) !important;
  color: var(--primary-color-text);
}

.resources-headline h1,
.resources-headline h2,
.resources-headline h3,
.resources-headline h4,
.resources-headline h5,
.resources-headline h6 {
  color: var(--primary-color-text);
}

.resources-headline .text-muted {
  color: var(--primary-color-text) !important;
  font-size: 0.9em;
}

.resources-headline a {
  color: var(--accent-color);
}

.resources-headline .btn-nkdagility-primary {
  background-color: var(--accent-color);
  color: var(--primary-color-text);
}

.resources-headline .btn-nkdagility-primary:hover {
  background-color: var(--accent-color-light);
  color: var(--primary-color-text);
}

.resources-headline .btn-nkdagility-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color-text);
}

.resources-headline .btn-nkdagility-secondary:hover {
  background-color: var(--secondary-color-light);
  color: var(--primary-color-text);
}

/* Dark mode overrides for resources-headline
[data-theme="dark"] .resources-headline {
  background-color: var(--primary-color) !important;
  color: var(--primary-color-text);
}
[data-theme="dark"] .resources-headline h1,
[data-theme="dark"] .resources-headline h2,
[data-theme="dark"] .resources-headline h3,
[data-theme="dark"] .resources-headline h4,
[data-theme="dark"] .resources-headline h5,
[data-theme="dark"] .resources-headline h6 {
  color: var(--primary-color-text);
}
[data-theme="dark"] .resources-headline .text-muted {
  color: var(--primary-color-text) !important;
}
[data-theme="dark"] .resources-headline a {
  color: var(--accent-color-light);
} */

.resources-headline-sharebar {
  background-color: var(--secondary-color) !important;
}

.resources-headline-sharebar .btn-outline-secondary {
  background-color: var(--secondary-color) !important; /* Set white background */
  color: whitesmoke !important; /* Ensure text remains secondary */
  border-color: whitesmoke !important; /* Keep the secondary border */
}
.resources-headline-sharebar .btn-outline-secondary:hover,
.resources-headline-sharebar .btn-outline-secondary:focus {
  background-color: var(--secondary-color-light) !important; /* Light gray hover effect */
  color: whitesmoke !important;
  border-color: whitesmoke !important;
}

@media (min-width: 1400px) {
  .columns-2 {
    column-count: 2;
  }
  .columns-3 {
    column-count: 3;
  }
  .columns-4 {
    column-count: 4;
  }
}
