<div style="width: {{ .Get "width" | default "100%" }}; height: {{ .Get "height" | default "400px" }};">
  <pre class="mermaid">
  {{ .Inner | safeHTML }}
  </pre>
</div>
<style>
  .mermaid > svg {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
  }
</style>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const svgs = document.querySelectorAll(".mermaid svg");
    svgs.forEach((svg) => {
      const width = svg.getAttribute("width");
      const height = svg.getAttribute("height");
      if (width && height) {
        svg.setAttribute("viewBox", `0 0 ${width} ${height}`);
        svg.removeAttribute("width");
        svg.removeAttribute("height");
      }
    });
  });
</script>
