<section class="container my-5">
  <h2>Sylabus</h2>
  <div class="row">
    {{ if and (not (eq .Page.Params.syllabus nil)) (gt (len .Page.Params.syllabus) 0) }}
      {{ range $index, $syllabi := .Page.Params.syllabus }}
        <div class="col-6 p-2">
          <!-- Card -->
          <div class="card flex-fill shadow mb-2 flex-fill" style="font-size: 0.8rem;">
            <div class="card-body p-2">
              <div class="row">
                <div class="col-12" title="{{ .title }}">
                  <span class="badge text-bg-primary">Session {{ .id }}</span>
                  <span class="badge text-bg-primary"><i class="fa-light fa-clock"></i> {{ .duration }}</span>  </a> {{ .title }}</a>
                </div>
                <div class="col-12">
                  {{ .overview | markdownify }}  </a>
                </div>
                <div class="col-12">
                 Assignement: (optional) {{ .assignement | markdownify }}  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  {{/*  <span class="badge text-bg-warning" title="There are no longer any seats available.">SOLD OUT</span>
                  <span class="badge text-bg-success" title="There are seats available">SEATS</span>
                  <span class="badge rounded-pill bg-secondary">learning experiance</span>  */}}
                </div>
                <div class="col-6">
                  <div class="btn-group float-end" role="group" aria-label="Basic example">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card END -->
        </div>
      {{ end }}
    {{ else }}
      <div class="col-12 p-2">
        The sylabus is available upon request.
      </div>
    {{ end }}
    <div class="col-12 p-2">
      <p>If we dont have dates that suit you then please <a href="/subscribe-newsletter/">sign-up to be the first</a> to know, or <a href="/company/general-inquiries/">contact us</a> for discounts or private training.</p>
    </div>
  </div>
  <hr />
</section>
