{{ $programs := .programs }}
{{ $now := now }}
<ul>
  {{ range $programs }}
    {{ $isFuture := (.Date.After $now) }}
    {{ $programType := .Params.code | default "program" }}
    {{ $truncatedDescription := .Description | default .Summary | truncate 200 }}
    <li>
      <strong><a href="{{ .Permalink }}">{{ .Params.short_title | default .Title }}</a></strong>
      {{ if $isFuture }}
        {{ $duration := .Date.Sub $now }}
        {{ $days := math.Floor (div $duration.Hours 24) }}
        <em>(Launches in {{ $days }} day{{ if ne $days 1 }}s{{ end }})</em>
      {{ end }}
      <br />
      <small>
        {{ with index .Params.course_vendors }}
          {{ $vendorName := index . 0 }}
          {{ $vendorTerm := partial "functions/get-taxonomy-page" (dict "taxonomyName" "course_vendors" "termName" $vendorName "site" site) }}
          {{ if $vendorTerm }}
            {{ $vendorTerm.Params.short_title | default $vendorTerm.Title }}
          {{ else }}
            {{ $vendorName }}
          {{ end }}
          •
        {{ end }}
        {{ if .Params.code }}{{ .Params.code }} •{{ end }}
        {{ with index .Params.course_proficiencies }}
          {{ $courseProficiencies := index . 0 }}
          {{ $courseProficienciesTerm := partial "functions/get-taxonomy-page" (dict "taxonomyName" "course_proficiencies" "termName" $courseProficiencies "site" site) }}
          {{ if $courseProficienciesTerm }}
            {{ $courseProficienciesTerm.Params.short_title | default $courseProficienciesTerm.Title }}
          {{ else }}
            {{ $courseProficiencies | title }}
          {{ end }}
          •
        {{ end }}
        {{ if eq .Type "course" }}Course Program{{ else if eq .Type "mentor-program" }}Mentoring Program{{ else }}Program{{ end }}
        {{ if .Params.course_length }}• {{ .Params.course_length }} hours{{ end }}
      </small>
      <br />
      {{ $truncatedDescription }}
    </li>
  {{ end }}
</ul>
