<header>
  <!-- Topbar Navigation -->
  <div class="container-fluid bg-brand-primary">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbarNav" aria-controls="topbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topbarNav">
          <div class="d-flex w-100 justify-content-between">
            <div class="d-flex">
              <a class="navbar-brand navbar-brand-topbaritem" href="tel:+441413439621">+44 141 343 9621</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="https://wa.me/message/HUH4LD467QPTB1"><i class="fa-brands fa-whatsapp"></i></a>
              <a class="navbar-brand navbar-brand-topbaritem" href="mailto:contact@nkdagility.com">contact@nkdagility.com</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="#">Glasgow, Scotland</a>
            </div>
            <div class="d-flex text-uppercase">
              <a class="navbar-brand navbar-brand-topbaritem" href="/my-account/">My Account</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="/capabilities/training-courses/">Corporate Training</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="/training-courses/course-schedule/">Course Schedule</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="/blog/">Blog</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="/company/general-inquiries/">Contact</a>
              <a class="navbar-brand navbar-brand-topbaritem" href="https://wa.me/message/HUH4LD467QPTB1"><i class="fa-brands fa-whatsapp"></i></a>
              <a class="navbar-brand navbar-brand-topbaritem" href="http://nakedagility.tv/"><i class="fa-brands fa-youtube"></i></a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  {{ partial "main-menu.html" . }}
</header>
