{{ $people := .Site.GetPage "section" "company/people"}}
{{ $company := .Site.GetPage "section" "company"}}
<li class="nav-item dropdown has-megamenu nkda-main-menu-item">
    <a class="nav-link dropdown-toggle nkda-main-menu-list-item p-3"  href="#" data-bs-toggle="dropdown">{{$company.Title}}</a>
    <div class="dropdown-menu megamenu" role="menu">
      <div class="row">
        <div class="col-md-4">
          <h3>{{$company.Title}}</h3>
          <p>{{$company.Description}}</p>
        </div>
        <div class="col-md-8">
          <ul class="panel-list">
            {{ range $people.Pages }} {{ if not .Draft }}
            <li class="nkda-main-menu-list-item"><a href="{{ .Permalink }}">{{ .Params.card.title }}</a></li>
            <!-- Add more items as needed -->
            {{ end }} {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>

