<div class="container col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6 col-md-12">
      <h1 class="display-5 fw-bold lh-1 mb-3 nkda-text-primary">Title</h1>
      <h2>v#{GitVersion.SemVer}#</h2>
    </div>
    <div class="col-lg-6 col-md-12">
      <p class="lead">Description</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-nkdprimary" role="button" href="https://nkdagility.com/capabilities/azure-devops-migration-services/">Azure DevOps Migration Services</a>
      </div>
    </div>
  </div>
  <div class="row">breadcrumbs</div>
</div>
