<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}
  </header>
  <main>
    HOME
    <section class="container my-5">
      <div class="row">
          <div class="col-md-6">
              <h2 class="mb-4">We help organisations dynamically adapt to market needs!</h2>
              <h1 class="mb-4">We are for software organisations and software teams!</h1>
              <p class="mb-4">We will guide you in moving to a multi-method approach to agility that moves beyond a simple defined process to something more co-evolutionary and highly adaptive to provide a better flow of value for your stakeholders.</p>
              <p>Our expertise in Lean, Agile, DevOps, Scrum, and Kanban drives supports you in optimising the value to your customers and maximising your revenue.</p>
          </div>
          <div class="col-md-6">
              <div class="card text-center">
                  <div class="card-body">
                      <h3 class="card-title">How Usable Working Products Are Your Ultimate Weapon Against Risks</h3>
                      <p class="card-text">The only way to mitigate risk when employing Agile practices is by continuously delivering a usable working product. Agile is not about spinning the hamster wheels but delivering shippable increments that users can interact with.</p>
                      <a href="https://nkdagility.com/blog/how-usable-working-products-are-your-ultimate-weapon-against-risks/" class="btn btn-primary">Read more...</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  

    {{ block "main" . }}{{ end }}
    <div class="container col-xxl-8 px-4 py-5">
        {{ .Content }}
    </div>
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>