{{- $sectionName := .SectionName }}
{{- $maxItems := .MaxItems }}
{{- $PagePermalink := .context.Page.Permalink }}
{{- $section := .context.Site.GetPage "section" $sectionName }}
{{- $pages := $section.Pages.ByWeight }}
{{- $pageCount:= len $pages }}
{{- if gt $maxItems 0 }}
  {{- $pages = $pages | first $maxItems }}
{{- end }}
<div class="container">
  <div class="row">
    {{- range $pages }}
      {{- if not .Draft }}
        {{- if ne .Permalink $PagePermalink }}
          <div class="col-md-6 col-xl-6 d-flex">
            <!-- prettier-ignore -->
            {{- partial "card.html" (dict "Page" . "class" "sectioncards" "title" (.Params.card.title | default .Title) "content" (.Params.card.content | default .Description) "buttonContent" .Params.card.button.content "permalink" .Permalink ) }}
          </div>
        {{- end }}
      {{- end }}
    {{- end }}
  </div>
  {{- if gt $pageCount $maxItems }}
    <div class="row mt-5">
      <div class="col-12 text-center">
        <a href="{{ $section.Permalink }}" class="btn btn-outline-primary">Learn More About {{ $section.Title }}</a>
      </div>
    </div>
  {{- end }}
</div>
