{{- $resources := .Site.GetPage "section" "resources" }}
{{- $sortedPages := sort $resources.Pages ".Pages" "desc" }}


<li class="nav-item dropdown dropdown-mega position-static">
  <a class="nav-link dropdown-toggle nkda-main-menu-top-item p-3" href="{{- $resources.Permalink }}" data-bs-toggle="dropdown" data-bs-auto-close="outside">{{- $resources.Title }}</a>
  <div class="dropdown-menu shadow">
    <div class="mega-content px-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <h5>{{- $resources.Title }}</h5>
            <p>{{- $resources.Description }}</p>
          </div>
          <div class="col-md-10">
            <div class="m-1">
              <div class="row g-2">
                {{- range $sortedPages }}
                  {{- $count :=  len .Pages }}
                  {{- if gt $count 0 }}
                    <div class="col-12 col-md-4">
                      <div class="resource-list-item h-100">
                        <a href="{{- .Permalink }}" class="text-decoration-none d-block p-2 rounded hover-highlight h-100" title="{{- .Params.short_title | default .Title }} - {{ .Description }}">
                          <div class="d-flex align-items-center mb-1">
                            <span class="fw-semibold">{{- .Params.short_title }}</span>
                            <span class="ms-2 badge bg-secondary">({{- $count }})</span>
                          </div>
                          <div class="resource-description text-muted small d-none d-md-block">{{ .Description }}</div>
                        </a>
                      </div>
                    </div>
                  {{- end }}
                {{- end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
