{{- $sectionName := .SectionName }}
{{- $section := .context.Site.GetPage "section" $sectionName }}
{{- if not $section.Draft }}
  <li class="nav-item dropdown dropdown-mega position-static">
    <a class="nav-link dropdown-toggle nkda-main-menu-top-item p-3" href="{{- $section.Permalink }}" data-bs-toggle="dropdown" data-bs-auto-close="outside">{{- $section.Title }}</a>
    <div class="dropdown-menu shadow">
      <div class="mega-content px-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <h5>{{- $section.Title }}</h5>
              <p>{{- $section.Description }}</p>
              <a href="{{- $section.Permalink }}">Overview</a>
            </div>
            <div class="col-md-9">
              <div class="m-1">
                <div class="row g-2">
                  {{- range $section.Pages.ByWeight }}
                    <div class="col-12 col-md-4">
                      <div class="section-list-item h-100">
                        <a href="{{- .Permalink }}" class="text-decoration-none d-block p-2 rounded hover-highlight h-100" title="{{- .Params.card.title | default .Title }} - {{ .Description }}">
                          <div class="d-flex align-items-center mb-1">
                            {{ if .Draft }}
                              <i class="fa-brands fa-firstdraft pe-1 text-muted"></i>
                            {{ end }}
                            <span class="fw-semibold">
                              {{ if .Params.icon }}
                                <i class="pe-1 fa-regular {{ .Params.icon | default "fa-circle" }} "></i>
                              {{ end }}
                              {{- .Params.card.title | default .Title }}
                            </span>
                          </div>
                          {{ if .Description }}
                            <div class="section-description text-muted small d-none d-md-block">{{ .Description }}</div>
                          {{ end }}
                        </a>
                      </div>
                    </div>
                  {{- end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
{{- end }}
