{{- define "headline" }}
  <section class="container-fluid resources-headline py-md-4">
    <section class="container">
      {{- partial "components/taxonomy-headline.html" . }}
    </section>
  </section>
{{- end }}

{{- define "main" }}
  <section class="container my-5">
    <div><h2 id="overview">Overview</h2></div>
    <div class="p-2 my-4 two-column-text">
      {{- .Content }}
    </div>
  </section>
  <section class="container my-2">
    {{- partial "page-sections/sections.html" . }}
  </section>
  <section class="container my-5">
    <h2>All Our {{- .Title }}</h2>
    {{ partial "components/programs/programs-list.html" (dict "context" . "programs" .Pages "includeMeta" true) }}
  </section>
{{- end }}

{{- define "siteSectionCallback" }}
  <section class="container my-5">
    <h2 title="Capabilities - What we do?">Our Services</h2>
    <p>Explore our comprehensive range of services and capabilities designed to empower organizations and teams. With our expert solutions, you can efficiently address and resolve immediate challenges, driving success across your operations.</p>
    {{- partial "cards-section.html" (dict "context" . "SectionName" "capabilities") }}
  </section>
{{- end }}
{{- define "template" }}
  course_learning_experiences/list.html
{{- end }}
