{{- define "headline" }}
  {{- partial "components/taxonomy-headline.html" . }}
{{- end }}

{{- define "main" }}
  <section class="container my-5">
    <div><h2 id="overview">Overview</h2></div>
    <div class="p-2 my-4 two-column-text">
      {{- .Content }}
    </div>
  </section>
  {{- $taxonomyName := .Title }}
  {{- $taxonomyShortName := .Title }}
  {{- $pages := where .Pages.ByWeight "Draft" "!=" true }}

  {{- $pagesWithData := slice }}
  {{- range $page := $pages }}
    {{- with .Resources.GetMatch "data.index.classifications.json" }}
      {{- $data := . | transform.Unmarshal }}
      {{- $dataItem := index $data $taxonomyName }}
      {{- if $dataItem }}
        <!-- Ensure the taxonomy exists in the data -->
        {{- $pagesWithData = $pagesWithData | append (dict "page" $page "score" ($dataItem.final_score | default 0)) }}
      {{- else }}
        {{- $pagesWithData = $pagesWithData | append (dict "page" $page "score" 0) }}
      {{- end }}
    {{- else }}
      {{- $pagesWithData = $pagesWithData | append (dict "page" $page "score" 0) }}
      <!-- Default when no data file -->
    {{- end }}
  {{- end }}
  {{- $sortedPagesWithData := sort $pagesWithData "score" "desc" }}
  {{- $sortedPages := slice }}
  {{- range $sortedPagesWithData }}
    {{- $sortedPages = $sortedPages | append .page.Page }}
  {{- end }}
  <section class="container my-2">
    <div class="container">
      <h2 id="learnMore">Learn More about {{ .Title }}{{ if eq .Type "concepts" }}{{ end }}</h2>
      <div class="row">
        {{ $paginator := .Paginate $sortedPages 108 }}
        {{ range $paginator.Pages }}
          <div class="col-xl-4 p-2">
            {{- if or (eq .Type "tags") (eq .Type "categories") (eq .Type "concepts") }}
              {{- partial "components/cards/taxonomy.html" (dict "site" .Site "context" . "subTypes" "resources") }}
            {{- else }}
              {{- $title := .Title }}
              {{- $description := .Description }}
              {{- $buttonContent := "Find out More" }}
              {{- $score := 0 }}
              {{- $reason := "set" }}
              {{- with .Resources.GetMatch "data.index.classifications.json" }}
                {{- $data := . | transform.Unmarshal }}
                {{- $dataItem := index $data $taxonomyName }}
                {{- if $dataItem }}
                  <!-- Ensure the taxonomy exists in the data -->
                  {{- $score = ($dataItem.final_score | default 0) }}
                  {{- $reason = ($dataItem.reasoning | default "none") }}
                {{- end }}
              {{- end }}
              {{- if .Params.card }}
                {{- $title = .Params.card.title }}
                {{- $description = .Params.card.content }}
                {{- $buttonContent = .Params.card.button.content }}
              {{- end }}
              <!-- layouts/partials/card.html -->
              <div class="sectioncards p-2 flex-fill flex-grow-1 h-100">
                <div class="card sectioncards flex-fill flex-grow-1 m-3 shadow text-start small border-0 h-100 position-relative">
                  <div class="card-body p-4 px-20">
                    <span class="badge text-bg-secondary">{{- title .Params.ResourceType }} XXX</span>
                    <h3 class="ttl-nkdagility h5 text-start" title="{{ $title }}">{{- $title }}</h3>
                    <div class="card-text text-muted">{{- $description | markdownify }}</div>
                  </div>
                  <div class="card-footer border-transparent bg-white p-3 border-0 d-flex justify-content-between align-items-center">
                    {{ if ne .Kind "term" }}
                      <small class="text-body-secondary" title="Affinity to {{ $taxonomyName }} is {{ $score }}%&#10;&#10;Reasoning: {{ $reason }}"> <strong class="d-inline-block text-truncate" style="max-width: 150px; vertical-align: middle;"> {{ $taxonomyName }} </strong>: {{ $score }}% </small>
                    {{ end }}
                    <a href="{{ .Permalink }}" class="btn btn-nkdagility p-2 ms-auto" title="More information on {{ .Title }}"> {{- $buttonContent }} <i class="fa-solid fa-arrow-right"></i> </a>
                  </div>
                </div>
              </div>
            {{- end }}
          </div>
        {{- end }}
        <div class="col-xl-12 p-5 text-center">
          <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-center">
              {{ if $paginator.HasPrev }}
                <li class="page-item">
                  <a class="page-link" href="{{ $paginator.Prev.URL }}#learnMore">Previous</a>
                </li>
              {{ end }}

              {{ range $paginator.Pagers }}
                <li class="page-item {{ if eq . $paginator }}active{{ end }}">
                  <a class="page-link" href="{{ .URL }}#learnMore">{{ .PageNumber }}</a>
                </li>
              {{ end }}

              {{ if $paginator.HasNext }}
                <li class="page-item">
                  <a class="page-link" href="{{ $paginator.Next.URL }}#learnMore">Next</a>
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section class="container-fluid resources-headline-sharebar">
    <section class="container">
      {{- partial "publications/share-bar.html" . }}
    </section>
  </section>
  <section class="container my-5 p-2">
    {{- partial "publications/comments.html" . }}
  </section>
{{- end }}

{{- define "siteSectionCallback" }}
  <section class="container my-5">
    <div class="m-1 small">
      <h2>Concepts</h2>
      <div class="row">
        {{ range $category, $pages := .Site.Taxonomies.concepts }}
          <div class="col-md-3 d-flex align-items-center">
            <span class="text-truncate d-inline-block" style="max-width: 100%;" title="{{ .Page.Title }}">
              <a href="{{ .Page.Permalink }}" title="{{ .Page.Title }} - {{ .Page.Description }}">{{ .Page.Title }}</a>
            </span>
            {{- $count :=  len (where $pages "Draft" "!=" true) }}
            <span class="ms-1">({{ $count }})</span>
          </div>
        {{ end }}
      </div>
      <hr />
    </div>
    <div class="m-1 small">
      <h2>Categories</h2>
      <div class="row">
        {{ range $category, $pages := .Site.Taxonomies.categories }}
          <div class="col-md-3 d-flex align-items-center">
            <span class="text-truncate d-inline-block" style="max-width: 100%;" title="{{ .Page.Title }}">
              <a href="{{ .Page.Permalink }}" title="{{ .Page.Title }} - {{ .Page.Description }}">{{ .Page.Title }}</a>
            </span>
            {{- $count :=  len (where $pages "Draft" "!=" true) }}
            <span class="ms-1">({{ $count }})</span>
          </div>
        {{ end }}
      </div>
      <hr />
    </div>
    <div class="m-1 small">
      <h2>Tags</h2>
      <div class="row">
        {{ range $category, $pages := .Site.Taxonomies.tags }}
          <div class="col-md-3 d-flex align-items-center">
            <span class="text-truncate d-inline-block" style="max-width: 100%;" title="{{ .Page.Title }}">
              <a href="{{ .Page.Permalink }}" title="{{ .Page.Title }} - {{ .Page.Description }}">{{ .Page.Title }}</a>
            </span>
            {{- $count :=  len (where $pages "Draft" "!=" true) }}
            <span class="ms-1">({{ $count }})</span>
          </div>
        {{ end }}
      </div>
      <hr />
    </div>
  </section>
{{- end }}

{{- define "template" }}
  {{ .Data.Plural | title }}/list.html
{{- end }}
