{{- define "breadcrumbs" }}
  <div></div>
{{- end }}

{{- define "headline" }}
  <section class="container my-5">
    <div class="row p-2 p-lg-6">
      <div class="col-xl-6 p-lg-3">
        <h1 class="mb-4 nkda-heading-primary">The home of technical leadership and engineering excellence for software development teams.</h1>
        <h2 class="mb-4 nkda-heading-secondary">We focus on first principles, delivering measurable outcomes with evidence-based engineering. Our international experts help companies build software more effectively.</h2>
        <p class="mb-4 d-none d-sm-block">We guide you in adopting a multi-method approach to agility, evolving beyond defined processes to a co-adaptive flow of value.</p>
        <p class="mb-4 d-none d-sm-block">Our expertise in Lean, Agile, DevOps, Scrum, and Kanban optimises customer value and revenue. Our deep technical knowledge of Azure DevOps, GitHub, .NET, Azure, and AI enables smarter decisions and better support.</p>
      </div>
      <div class="col-xl-4 d-none d-sm-block">
        <div class="row">
          <div class="col-12">
            <div class="card text-center card-left-border">
              <div class="card-body">
                <h3 class="card-title">How Usable Working Products Are Your Ultimate Weapon Against Risks</h3>
                <p class="card-text">The only way to mitigate risk when employing Agile practices is by continuously delivering a usable working product. Agile is not about spinning the hamster wheels but delivering shippable increments that users can interact with.</p>
                <a href="/resources/blog/how-usable-working-products-are-your-ultimate-weapon-against-risks/" class="btn btn-primary">Read more...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row p-5">
          <div class="col-lg-4 col-sm-6 col-md-4 p-2"><img src="/images/PST-Badge-v2-web-transparent.webp" loading="lazy" width="100%" /></div>
          <div class="col-lg-4 col-sm-6 col-md-4 p-2"><img src="/images/MVP_Horizontal_FullColor.webp" loading="lazy" width="100%" /></div>
          <div class="col-lg-4 col-sm-6 col-md-4 p-2"><img src="/images/PK-Email@0.5x-1.png" loading="lazy" width="100%" /></div>
        </div>
      </div>
    </div>
  </section>
  <section class="container my-5">
    {{- partial "trustpilot/scrumorg-trustpilot-carousel.html" . }}
  </section>
  <section class="container my-5">
    {{- partial "headline.html" . }}
  </section>
{{- end }}
{{- define "main" }}
  <section class="container my-5">
    <h2>Our Proven Track Record</h2>
    <p>Over the years, we have successfully served hundreds of clients across the globe.​</p>
    <div class="row">
      <div class="col-md-2">
        <h2 class="text-modern text-center nkda-heading-primary">{{- sub (now.Year) 2013 }}</h2>
        <p class="text-modern text-center nkda-heading-secondary">Years in Business​</p>
      </div>
      <div class="col-md-2">
        <h2 class="text-modern text-center nkda-heading-primary">{{- sub (now.Year) 2008 }}</h2>
        <p class="text-modern text-center nkda-heading-secondary">Years as Microsoft MVP​</p>
      </div>
      <div class="col-md-2">
        <h2 class="text-modern text-center nkda-heading-primary">{{- sub (now.Year) 2010 }}</h2>
        <p class="text-modern text-center nkda-heading-secondary">Years as a Scrum.org trainer</p>
      </div>
      <div class="col-md-2">
        <h2 class="text-modern text-center nkda-heading-primary">13</h2>
        <p class="text-modern text-center nkda-heading-secondary">Countries Covered​</p>
      </div>
      <div class="col-md-2">
        <h2 class="text-modern text-center nkda-heading-primary">200+</h2>
        <p class="text-modern text-center nkda-heading-secondary">Clients Served​</p>
      </div>
      <div class="col-md-2">
        <h2 class="text-modern text-center nkda-heading-primary">2,600+</h2>
        <p class="text-modern text-center nkda-heading-secondary">People trained</p>
      </div>
    </div>
  </section>
  {{- partial "our-customers.html" . }}
  {{- partial "connect.html" . }}
  <section class="container my-5">
    <h2 title="Outcomes - What you get?">What you get?</h2>
    <p>
      We empower organizations to achieve unparalleled success in today's dynamic market. Our proven strategies enhance Team Effectiveness, deliver Higher Quality Products, and foster a culture of Continuous Improvement. Discover how our tailored approaches can significantly reduce your Time to Market and boost Market Adaptability, setting your business apart. Explore the transformative outcomes we offer and see why companies trust NKDAgility to
      elevate their performance and thrive in competitive environments.
    </p>
    {{- partial "cards-section.html" (dict "context" . "SectionName" "outcomes") . }}
  </section>
  <section class="container my-5">
    <h2 title="Capabilities - What we do?">What we do?</h2>
    <p>Explore our comprehensive range of services and capabilities designed to empower organizations and teams. With our expert solutions, you can efficiently address and resolve immediate challenges, driving success across your operations.</p>
    {{- partial "cards-section.html" (dict "context" . "SectionName" "capabilities") }}
  </section>
  {{- partial "homepage-people.html" . }}
{{- end }}
