{{ $alertTypes := dict
  "note" "info"
  "tip" "success"
  "important" "warning"
  "warning" "warning"
  "caution" "danger"
}}
{{ $alertEmoji := dict
  "note" "ℹ️"
  "tip" "💡"
  "important" "⚠️"
  "warning" "⚠️"
  "caution" "🚨"
}}

{{ if eq .Type "alert" }}
  <div class="alert alert-{{ index $alertTypes .AlertType | default "secondary" }} subtle-alert" role="alert">
    {{ with .AlertTitle }}
      <h5 class="alert-heading subtle-heading">
        {{ index $alertEmoji .AlertType }}
        {{ . }}
      </h5>
    {{ else }}
      <h5 class="alert-heading subtle-heading">
        {{ index $alertEmoji .AlertType }}
        {{ .AlertType | title }}
      </h5>
    {{ end }}
    <p class="subtle-text">{{ .Text | safeHTML }}</p>
  </div>
{{ else }}
  <blockquote class="blockquote">
    {{ .Text | safeHTML }}
  </blockquote>
{{ end }}
