{{/* Loads syllabus data from Site.Data.programs first, then falls back to file or front matter
  @param page - The current page object
  @returns - The syllabus data (either from Site.Data.programs, file, or front matter)
*/}}
{{ $page := . }}
{{ $syllabusData := dict }}
{{ $syllabusBefore := slice }}
{{ $syllabus := slice }}

{{/* First try to load from Site.Data.programs using programCode */}}
{{ $programCode := $page.Params.programCode }}
{{ if $programCode }}
  {{ $programData := index site.Data.programs (lower $programCode) }}
  {{ if $programData }}
    {{ $syllabusData = $programData }}
  {{ end }}
{{ end }}

{{ return $syllabusData }}
